### Kmeans

![image info](./sse.png)
![image info](./sil.png)

In [4]:
#df

   Classe           SSE  silhouette_score
0       2  5.434968e+25          0.357633
1       3  3.729277e+25          0.360811
2       4  2.205590e+25          0.383289
3       5  1.682335e+25          0.362750
4       6  1.232326e+25          0.394790
5       7  9.741232e+24          0.368860
6       8  8.061593e+24          0.345248
7       9  6.403752e+24          0.390632

### Let's consider 9 classes

In [8]:
#df9

   Classe   Number
0       0     3916
1       1       77
2       2    25777
3       3       30
4       4        1
5       5      165
6       6  1645607
7       7    87350
8       8      687

##### First classe

In [26]:
df99[df99["classe"] == 0].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

     - il y a **3916** individus dans cette classe.
     - ils reçoivent au maximum **130** appels entrants internationals et émettent au maximum 1 appel sortant international. 
     - Ainsi cette classe peut etre considérer comme une classe de non-fraudeurs, d'individus normals.

#### Second classe

In [27]:
df99[df99["classe"] == 1].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

 - Dans cette classe, nous remarquons que les individus n'émettent pas d'appels internationals et en reçoivent très peu.
 - Idéalement, ils sont des individus normaux.

#### Third classe

In [28]:
df99[df99["classe"] == 2].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

 - Comparée aux 2 précédentes classes, cette classe-ci recoit beaucoup d'appels internationals entrants (maximum : 199).
 - Mais elle émet très peu d'appels internationals.
 - Elle est une classe de non-fraudeurs.

#### Fourth classe

In [29]:
df99[df99["classe"] == 3].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

 - Ici également, les individus n'emettent pas d'appels à l'international
 - Classe d'individus normaux

#### Fifth classe

In [30]:
df99[df99["classe"] == 4]

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/IPython/core/formatters.py:345: UserWarning:
Lux defaults to Pandas when there are no valid actions defined.

,nbre_call_entrant_inter,nbre_call_sortant_inter,duree_entrant_inter,duree_sortant_inter,duree_total_inter,duree_moy_sortant_inter,duree_moy_inter,nbr_cor_dist,nbr_appel_abs_entr_moy,nbr_appel_abs_entr_med,...,temp_appel_moy,ecartyp_temp_appel,ratio_call_dist,ratio_dist_sms,taux_call_night,taux_call_on,taux_call_inter,nbre_transaction,nbre_distinct_msisdn,classe
msisdn,,,,,,,,,,,,,,,,,,,,,
NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

 - l'individu est une valeur manquante

#### Sixth classe

In [31]:
df99[df99["classe"] == 5].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

 - Elle émet très peu d'appels internationals et en reçoit très peu.
 - Classe d'individus normals

#### Seventh classe

In [32]:
df99[df99["classe"] == 6].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

 - On a **1645607** indivdus pour cette classe
 - Egalement on remarque qu'il y des individus émettant très peu d'appels internationals et d'autres émettant beaucoup (max : 502) 
 - Classe Hétérogène

#### Eighth classe

In [33]:
df99[df99["classe"] == 7].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

 - Très peu d'appels internationals émis.
 - Classe d'individus normals

#### Nineth classe

In [34]:
df99[df99["classe"] == 8].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

 - Très peu d'appels internationals émis et reçus
 - Classe d'individus normals

#### Let's deep in sixth classe

In [69]:
#df6 = df99[df99["classe"] == 6]

In [76]:
#df66 = df6[df6["nbre_call_sortant_inter"] > 7]

In [77]:
#df66.describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [6]:
import pandas as pd
data = {'Classe':  list(range(2,10)) ,
        'SSE': [5.434967701817736e+25,
 3.7292770396258056e+25,
 2.2055902154519345e+25,
 1.6823347142867633e+25,
 1.2323264279178966e+25,
 9.74123207562669e+24,
 8.061592516466469e+24,
 6.403752110130262e+24],
          "silhouette_score" : [0.35763347707327836,
0.36081141426559715,
0.3832894071596234,
0.3627498855197289,
0.39478999960818756,
0.36885963285553164,
0.34524785939189306,
0.39063168331289955]
        }

df = pd.DataFrame (data, columns = ['Classe','SSE', 'silhouette_score'])

In [7]:
import pandas as pd
data9 = {'Classe':  [0, 1, 2, 3, 4, 5, 6, 7, 8] ,
        'Number': [   3916,      77,   25777,      30,       1,     165, 1645607,
          87350,     687]
        }

df9 = pd.DataFrame (data9 , columns = ['Classe','Number'])

In [3]:
from sklearn.metrics import *
import pandas as pd
import lux

## MAIN KMEANS

In [10]:
import matplotlib.pyplot as plt
from kneed import KneeLocator
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [11]:
df = pd.read_csv("ech_data.csv", sep = ";")

In [12]:
df9 = df[[
 'nbre_call_entrant_inter',
 'nbre_call_sortant_inter',
 'duree_entrant_inter',
 'duree_sortant_inter',
 'duree_total_inter',
 'duree_moy_sortant_inter',
 'duree_moy_inter',
 'nbr_cor_dist',
 'nbr_appel_abs_entr_moy',
 'nbr_appel_abs_entr_med',
 'nbr_appel_abs_entr_tot',
 'nbr_entrant_distinct_absence_tot',
 'nbr_entrant_distinct_absence_med',
 'nbr_appel_abs_sort_moy',
 'nbr_appel_abs_sort_med',
 'nbr_appel_abs_sort_tot',
 'nbre_transaction_tot',
 'nbre_transaction_med',
 'nbre_distinct_msisdn_tot',
 'nbre_distinct_msisdn_med',
 'duree_tot',
 'duree_med',
 'nbre_distinct_imei_x',
 'nombre_transaction_erecharge',
 'montant_erecharge',
 'nbre_imsi',
 'montant',
 'montant_moy',
 'nbr_om_transact',
 'volumepartage_data_med',
 'nbr_partage_data',
 'total_partage_data',
 'nombre_distinct_profil',
 'nbr_sms_total_sortant_ofnet',
 'nbr_sms_sortant_med_ofnet',
 'nbr_sms_sortant_moy_ofnet',
 'nbr_appel_sortant_moy_ofnet',
 'nbr_appel_total_sortant_ofnet',
 'nbr_appel_sortant_med_ofnet',
 'duree_total_sortant_ofnet',
 'duree_sortant_med_ofnet',
 'duree_sortant_moy_ofnet',
 'nbr_sms_total_sortant_onnet',
 'nbr_sms_sortant_med_onnet',
 'nbr_sms_sortant_moy_onnet',
 'nbr_appel_sortant_moy_onnet',
 'nbr_appel_total_sortant_onnet',
 'nbr_appel_sortant_med_onnet',
 'duree_total_sortant_onnet',
 'duree_sortant_med_onnet',
 'duree_sortant_moy_onnet',
 'nbr_rech_sos',
 'nbr_moy_sos',
 'montant_tot_sos',
 'montant_moy_sos',
 'nbr_corr_dist_entrant_sms_tot',
 'nbr_corr_dist_entrant_sms_med',
 'nbr_corr_dist_sortant_sms_tot',
 'nbr_corr_dist_sortant_sms_med',
 'nbr_duree_data_tot',
 'nbr_duree_data_med',
 'nbr_duree_data_moy',
 'volume_family_data_med',
 'nbr_family_data',
 'family_data_tot',
 'nbre_call_complice',
 'duree_x',
 'duree_moy_call_complice',
 'volume_data_total',
 'volume_data_moy',
 'volume_data_med',
 'nbre_corr_sortant',
 'nbre_corr_sortant_distinc',
 'nbre_corr_entrant',
 'nbre_corr_entrant_distinct',
 'temp_sms_moy',
 'ecartyp_temp_sms',
 'nbre_distinct_imei_y',
 'nbr_achat_pass',
 'montant_pass_med',
 'mnt_tot_pass',
 'temp_appel_moy',
 'ecartyp_temp_appel',
 'ratio_call_dist',
 'ratio_dist_sms',
 'taux_call_night',
 'taux_call_on',
 'taux_call_inter',
 'nbre_transaction',
 'nbre_distinct_msisdn']]

In [13]:
df91 = df9.fillna(0)

In [14]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df91)

In [15]:
kmeans_kwargs = {
"init": "random",
"n_init": 10,
"max_iter": 300,
"random_state": 42 }

In [16]:
kmeans = KMeans(n_clusters=9, **kmeans_kwargs)
kmeans.fit(df91)
print(kmeans.inertia_)

6.403752110130261e+24

In [8]:
yhat = kmeans.predict(df91)

In [9]:
from numpy import unique
clusters = unique(yhat, return_counts = True)
clusters

(array([0, 1, 2], dtype=int32), array([      1,     666, 1762943]))

In [27]:
df91["classe"] = yhat

## MAIN KMEANS

In [13]:
df91[df91["classe"] == 1].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

## FRAUDEURS

In [19]:
fraudeurs = pd.read_csv("fraudeur3.csv", sep = ",")
fraudeurs.head()
#fraudeurs.shape

,msisdn,mnt_med_pass_sva,mnt_tot_pass_sva,nbr_achat_pass_sva,mnt_med_mix,mnt_tot_mix,nbr_achat_pass_mix,mnt_pass_med_inter,mnt_tot_inter_pass,nbr_achat_pass_inter,...,nbr_call_en_of_y,duree_call_tot_en_of_y,duree_call_moy_en_of_y,duree_data_tot,vol_tot_data,nbr_call_tot_complice,duree_call_moy_complice,duree_call_tot_complice,nbr_call_sort_abs,nbr_call_en_abs
0,97412290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,4.0,1.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68912429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,5.0,1.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,67442397,103.0,103.0,1.0,450.0,4200.0,21.0,NaN,NaN,NaN,...,0.0,14.0,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,79323879,NaN,NaN,NaN,600.0,3500.0,14.0,NaN,NaN,NaN,...,0.0,8.0,2.666667,905.444444,23910.0,NaN,NaN,NaN,NaN,NaN
4,97424091,150.0,150.0,3.0,300.0,2100.0,9.0,NaN,NaN,NaN,...,0.0,25.0,3.125000,6962.263158,570059041.0,NaN,NaN,NaN,NaN,NaN

In [20]:
fraudeurs.describe()

,msisdn,mnt_med_pass_sva,mnt_tot_pass_sva,nbr_achat_pass_sva,mnt_med_mix,mnt_tot_mix,nbr_achat_pass_mix,mnt_pass_med_inter,mnt_tot_inter_pass,nbr_achat_pass_inter,...,nbr_call_en_of_y,duree_call_tot_en_of_y,duree_call_moy_en_of_y,duree_data_tot,vol_tot_data,nbr_call_tot_complice,duree_call_moy_complice,duree_call_tot_complice,nbr_call_sort_abs,nbr_call_en_abs
count,1.670000e+02,13.000000,13.000000,13.000000,71.000000,71.000000,71.000000,10.000000,10.000000,10.000000,...,157.000000,157.000000,157.000000,23.000000,2.300000e+01,0.0,0.0,0.0,41.000000,10.000000
mean,7.366836e+07,396.615385,904.307692,2.230769,498.239437,4018.309859,15.718310,2100.000000,2600.000000,1.400000,...,0.579618,24.968153,4.936728,3129.918784,2.190473e+08,NaN,NaN,NaN,1.707317,1.200000
std,1.824344e+07,385.007476,1731.032369,2.166174,242.506404,6056.792170,23.850237,210.818511,1264.911064,0.843274,...,1.349869,36.564909,5.086854,3087.563691,2.529957e+08,NaN,NaN,NaN,1.749913,0.632456
min,9.753285e+06,50.000000,50.000000,1.000000,150.000000,150.000000,1.000000,2000.000000,2000.000000,1.000000,...,0.000000,1.000000,1.000000,4.500000,2.810000e+03,NaN,NaN,NaN,1.000000,1.000000
25%,5.917396e+07,103.000000,103.000000,1.000000,300.000000,1000.000000,1.000000,2000.000000,2000.000000,1.000000,...,0.000000,5.000000,1.750000,905.558442,2.208100e+04,NaN,NaN,NaN,1.000000,1.000000
50%,7.709993e+07,150.000000,150.000000,2.000000,450.000000,3300.000000,12.000000,2000.000000,2000.000000,1.000000,...,0.000000,12.000000,3.000000,2595.500000,1.062430e+08,NaN,NaN,NaN,1.000000,1.000000
75%,8.887767e+07,500.000000,1000.000000,2.000000,525.000000,3900.000000,16.000000,2000.000000,2000.000000,1.000000,...,0.000000,27.000000,5.500000,4746.797619,4.412539e+08,NaN,NaN,NaN,1.000000,1.000000
max,9.842885e+07,1000.000000,6500.000000,9.000000,1175.000000,45050.000000,172.000000,2500.000000,5000.000000,3.000000,...,10.000000,265.000000,29.750000,9287.400000,7.987241e+08,NaN,NaN,NaN,8.000000,3.000000

In [21]:
fraudeurs1 = fraudeurs.copy()

In [22]:
fraudeurs1 = fraudeurs1.fillna(0)

In [23]:
fraudeurs1.describe()

,msisdn,mnt_med_pass_sva,mnt_tot_pass_sva,nbr_achat_pass_sva,mnt_med_mix,mnt_tot_mix,nbr_achat_pass_mix,mnt_pass_med_inter,mnt_tot_inter_pass,nbr_achat_pass_inter,...,nbr_call_en_of_y,duree_call_tot_en_of_y,duree_call_moy_en_of_y,duree_data_tot,vol_tot_data,nbr_call_tot_complice,duree_call_moy_complice,duree_call_tot_complice,nbr_call_sort_abs,nbr_call_en_abs
count,1.670000e+02,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000,...,167.000000,167.000000,167.000000,167.000000,1.670000e+02,167.0,167.0,167.0,167.000000,167.000000
mean,7.366836e+07,30.874251,70.395210,0.173653,211.826347,1708.383234,6.682635,125.748503,155.688623,0.083832,...,0.544910,23.473054,4.641115,431.066659,3.016819e+07,0.0,0.0,0.0,0.419162,0.071856
std,1.824344e+07,148.578209,525.042465,0.835810,292.975162,4409.022283,17.338268,502.159682,685.267056,0.386725,...,1.315829,35.941018,5.069272,1560.067216,1.192279e+08,0.0,0.0,0.0,1.131846,0.321309
min,9.753285e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.0,0.0,0.0,0.000000,0.000000
25%,5.917396e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,5.000000,1.666667,0.000000,0.000000e+00,0.0,0.0,0.0,0.000000,0.000000
50%,7.709993e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,10.000000,2.666667,0.000000,0.000000e+00,0.0,0.0,0.0,0.000000,0.000000
75%,8.887767e+07,0.000000,0.000000,0.000000,450.000000,2825.000000,10.500000,0.000000,0.000000,0.000000,...,0.000000,25.000000,5.000000,0.000000,0.000000e+00,0.0,0.0,0.0,0.000000,0.000000
max,9.842885e+07,1000.000000,6500.000000,9.000000,1175.000000,45050.000000,172.000000,2500.000000,5000.000000,3.000000,...,10.000000,265.000000,29.750000,9287.400000,7.987241e+08,0.0,0.0,0.0,8.000000,3.000000

In [29]:
#df91.columns

## FRAUDEURS

## NON FRAUDEURS AMONG df91["classe"]

In [36]:
df91["msisdn"] = df["msisdn"]

In [37]:
df6 = df91[df91["classe"] == 6]

In [38]:
def anti_join(x, y, on):
    """Return rows in x which are not present in y"""
    ans = pd.merge(left=x, right=y, how='left', indicator=True, on=on)
    ans = ans.loc[ans._merge == 'left_only', :].drop(columns='_merge')
    return ans

In [39]:
#df_anti = pd.merge(df6[["msisdn"]] ,fraudeurs, on='msisdn', how='anti')

In [48]:
df_anti = anti_join(df6["msisdn"] ,fraudeurs, "msisdn")

In [57]:
fraudeurs.columns

Index(['msisdn', 'mnt_med_pass_sva', 'mnt_tot_pass_sva', 'nbr_achat_pass_sva',
       'mnt_med_mix', 'mnt_tot_mix', 'nbr_achat_pass_mix',
       'mnt_pass_med_inter', 'mnt_tot_inter_pass', 'nbr_achat_pass_inter',
       'mnt_med_pass_data', 'mnt_tot_pass_data', 'nbr_achat_pass_data',
       'nbr_transac_share', 'vol_tot_data_share', 'vol_moy_data_share',
       'nbr_transac_family', 'vol_tot_data_family', 'vol_moy_data_family',
       'nbr_rechar', 'mnt_rechar_tot', 'mnt_rechar_moy', 'temp_sms_moy',
       'ecartyp_temp_sms', 'nbr_dist_en_of_x', 'nbr_call_en_of_x',
       'duree_call_tot_en_of_x', 'duree_call_moy_en_of_x', 'nbr_dist_sort_on',
       'nbr_call_sort_on', 'duree_call_tot_sort_on', 'duree_call_moy_sort_on',
       'nbr_dist_sort_of', 'nbr_call_sort_of', 'duree_call_tot_sort_of',
       'duree_call_moy_sort_of', 'nbr_sms_tot_sort_inter',
       'nbr_call_tot_sort_inter', 'duree_call_tot_sort_inter',
       'duree_call_moy_sort_inter', 'nbr_call_sort_night',
       'duree_moy_sort_night', 'duree_call_tot_sort_night', 'nbr_sms_tot_en',
       'nbr_dist_sms_en', 'nbr_dist_sort', 'nbr_call_tot_sort',
       'duree_call_tot_sort', 'duree_call_moy_sort', 'nbr_dist_call_en',
       'nbr_call_tot_en', 'duree_call_tot_en', 'duree_call_moy_en',
       'nbre_imsi', 'nbr_dist_en_on', 'nbr_call_en_on', 'duree_call_tot_en_on',
       'duree_call_moy_sort_en', 'nbr_dist_en_of_y', 'nbr_call_en_of_y',
       'duree_call_tot_en_of_y', 'duree_call_moy_en_of_y', 'duree_data_tot',
       'vol_tot_data', 'nbr_call_tot_complice', 'duree_call_moy_complice',
       'duree_call_tot_complice', 'nbr_call_sort_abs', 'nbr_call_en_abs'],
      dtype='object')

In [50]:
df_anti.columns

Index(['msisdn', 'mnt_med_pass_sva', 'mnt_tot_pass_sva', 'nbr_achat_pass_sva',
       'mnt_med_mix', 'mnt_tot_mix', 'nbr_achat_pass_mix',
       'mnt_pass_med_inter', 'mnt_tot_inter_pass', 'nbr_achat_pass_inter',
       'mnt_med_pass_data', 'mnt_tot_pass_data', 'nbr_achat_pass_data',
       'nbr_transac_share', 'vol_tot_data_share', 'vol_moy_data_share',
       'nbr_transac_family', 'vol_tot_data_family', 'vol_moy_data_family',
       'nbr_rechar', 'mnt_rechar_tot', 'mnt_rechar_moy', 'temp_sms_moy',
       'ecartyp_temp_sms', 'nbr_dist_en_of_x', 'nbr_call_en_of_x',
       'duree_call_tot_en_of_x', 'duree_call_moy_en_of_x', 'nbr_dist_sort_on',
       'nbr_call_sort_on', 'duree_call_tot_sort_on', 'duree_call_moy_sort_on',
       'nbr_dist_sort_of', 'nbr_call_sort_of', 'duree_call_tot_sort_of',
       'duree_call_moy_sort_of', 'nbr_sms_tot_sort_inter',
       'nbr_call_tot_sort_inter', 'duree_call_tot_sort_inter',
       'duree_call_moy_sort_inter', 'nbr_call_sort_night',
       'duree_moy_sort_night', 'duree_call_tot_sort_night', 'nbr_sms_tot_en',
       'nbr_dist_sms_en', 'nbr_dist_sort', 'nbr_call_tot_sort',
       'duree_call_tot_sort', 'duree_call_moy_sort', 'nbr_dist_call_en',
       'nbr_call_tot_en', 'duree_call_tot_en', 'duree_call_moy_en',
       'nbre_imsi', 'nbr_dist_en_on', 'nbr_call_en_on', 'duree_call_tot_en_on',
       'duree_call_moy_sort_en', 'nbr_dist_en_of_y', 'nbr_call_en_of_y',
       'duree_call_tot_en_of_y', 'duree_call_moy_en_of_y', 'duree_data_tot',
       'vol_tot_data', 'nbr_call_tot_complice', 'duree_call_moy_complice',
       'duree_call_tot_complice', 'nbr_call_sort_abs', 'nbr_call_en_abs'],
      dtype='object')

In [46]:
anti_join(df6["msisdn"] ,fraudeurs, "msisdn").shape

(1645440, 69)

In [35]:
df6[["msisdn"]].head()

KeyError: "None of [Index(['msisdn'], dtype='object')] are in the [columns]"

In [42]:
pd.merge(df["msisdn"] ,fraudeurs, on='msisdn', how='inner').head()

,msisdn,mnt_med_pass_sva,mnt_tot_pass_sva,nbr_achat_pass_sva,mnt_med_mix,mnt_tot_mix,nbr_achat_pass_mix,mnt_pass_med_inter,mnt_tot_inter_pass,nbr_achat_pass_inter,...,nbr_call_en_of_y,duree_call_tot_en_of_y,duree_call_moy_en_of_y,duree_data_tot,vol_tot_data,nbr_call_tot_complice,duree_call_moy_complice,duree_call_tot_complice,nbr_call_sort_abs,nbr_call_en_abs
0,48531591.0,NaN,NaN,NaN,500.0,4500.0,12.0,NaN,NaN,NaN,...,0.0,33.0,5.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,67442397.0,103.0,103.0,1.0,450.0,4200.0,21.0,NaN,NaN,NaN,...,0.0,14.0,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,97648507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,4.0,1.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,87700364.0,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,2000.0,1.0,...,0.0,19.0,1.727273,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,89280762.0,NaN,NaN,NaN,550.0,4550.0,16.0,NaN,NaN,NaN,...,0.0,6.0,1.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
pd.merge(df6["msisdn"] ,fraudeurs, on='msisdn', how='inner').shape

(167, 69)

In [47]:
1645440 + 167

1645607

In [53]:
df_anti1 = df_anti.fillna(0)

## KMEANS ON 6

In [75]:
#df6.columns

In [76]:
df61 = df6[['nbre_call_entrant_inter', 'nbre_call_sortant_inter',
       'duree_entrant_inter', 'duree_sortant_inter', 'duree_total_inter',
       'duree_moy_sortant_inter', 'duree_moy_inter', 'nbr_cor_dist',
       'nbr_appel_abs_entr_moy', 'nbr_appel_abs_entr_med',
       'nbr_appel_abs_entr_tot', 'nbr_entrant_distinct_absence_tot',
       'nbr_entrant_distinct_absence_med', 'nbr_appel_abs_sort_moy',
       'nbr_appel_abs_sort_med', 'nbr_appel_abs_sort_tot',
       'nbre_transaction_tot', 'nbre_transaction_med',
       'nbre_distinct_msisdn_tot', 'nbre_distinct_msisdn_med', 'duree_tot',
       'duree_med', 'nbre_distinct_imei_x', 'nombre_transaction_erecharge',
       'montant_erecharge', 'nbre_imsi', 'montant', 'montant_moy',
       'nbr_om_transact', 'volumepartage_data_med', 'nbr_partage_data',
       'total_partage_data', 'nombre_distinct_profil',
       'nbr_sms_total_sortant_ofnet', 'nbr_sms_sortant_med_ofnet',
       'nbr_sms_sortant_moy_ofnet', 'nbr_appel_sortant_moy_ofnet',
       'nbr_appel_total_sortant_ofnet', 'nbr_appel_sortant_med_ofnet',
       'duree_total_sortant_ofnet', 'duree_sortant_med_ofnet',
       'duree_sortant_moy_ofnet', 'nbr_sms_total_sortant_onnet',
       'nbr_sms_sortant_med_onnet', 'nbr_sms_sortant_moy_onnet',
       'nbr_appel_sortant_moy_onnet', 'nbr_appel_total_sortant_onnet',
       'nbr_appel_sortant_med_onnet', 'duree_total_sortant_onnet',
       'duree_sortant_med_onnet', 'duree_sortant_moy_onnet', 'nbr_rech_sos',
       'nbr_moy_sos', 'montant_tot_sos', 'montant_moy_sos',
       'nbr_corr_dist_entrant_sms_tot', 'nbr_corr_dist_entrant_sms_med',
       'nbr_corr_dist_sortant_sms_tot', 'nbr_corr_dist_sortant_sms_med',
       'nbr_duree_data_tot', 'nbr_duree_data_med', 'nbr_duree_data_moy',
       'volume_family_data_med', 'nbr_family_data', 'family_data_tot',
       'nbre_call_complice', 'duree_x', 'duree_moy_call_complice',
       'volume_data_total', 'volume_data_moy', 'volume_data_med',
       'nbre_corr_sortant', 'nbre_corr_sortant_distinc', 'nbre_corr_entrant',
       'nbre_corr_entrant_distinct', 'temp_sms_moy', 'ecartyp_temp_sms',
       'nbre_distinct_imei_y', 'nbr_achat_pass', 'montant_pass_med',
       'mnt_tot_pass', 'temp_appel_moy', 'ecartyp_temp_appel',
       'ratio_call_dist', 'ratio_dist_sms', 'taux_call_night', 'taux_call_on',
       'taux_call_inter', 'nbre_transaction', 'nbre_distinct_msisdn']]

In [77]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df61)

kmeans_kwargs = {
"init": "random",
"n_init": 10,
"max_iter": 300,
"random_state": 42 }

kmeans = KMeans(n_clusters=9, **kmeans_kwargs)
kmeans.fit(df61)
print(kmeans.inertia_)

yhat6 = kmeans.predict(df61)

4.712151034811712e+22

In [78]:
clusters = unique(yhat6, return_counts = True)
clusters

(array([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype=int32),
 array([    170, 1482638,   49181,      41,      82,     137,   35574,
          77471,     313]))

In [80]:
df61["classe2"] = yhat6

<ipython-input-80-c92a4b8d3b51>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df61["classe2"] = yhat6

In [81]:
df61["msisdn"] = df6["msisdn"]

In [84]:
pd.merge(df61[df61["classe2"] == 1]["msisdn"] ,fraudeurs, on='msisdn', how='inner').shape

(167, 69)

## KMEANS ON 1

In [85]:
df6_1 = df61[df61["classe2"] == 1]

In [86]:
df6_11 = df6_1[['nbre_call_entrant_inter', 'nbre_call_sortant_inter',
       'duree_entrant_inter', 'duree_sortant_inter', 'duree_total_inter',
       'duree_moy_sortant_inter', 'duree_moy_inter', 'nbr_cor_dist',
       'nbr_appel_abs_entr_moy', 'nbr_appel_abs_entr_med',
       'nbr_appel_abs_entr_tot', 'nbr_entrant_distinct_absence_tot',
       'nbr_entrant_distinct_absence_med', 'nbr_appel_abs_sort_moy',
       'nbr_appel_abs_sort_med', 'nbr_appel_abs_sort_tot',
       'nbre_transaction_tot', 'nbre_transaction_med',
       'nbre_distinct_msisdn_tot', 'nbre_distinct_msisdn_med', 'duree_tot',
       'duree_med', 'nbre_distinct_imei_x', 'nombre_transaction_erecharge',
       'montant_erecharge', 'nbre_imsi', 'montant', 'montant_moy',
       'nbr_om_transact', 'volumepartage_data_med', 'nbr_partage_data',
       'total_partage_data', 'nombre_distinct_profil',
       'nbr_sms_total_sortant_ofnet', 'nbr_sms_sortant_med_ofnet',
       'nbr_sms_sortant_moy_ofnet', 'nbr_appel_sortant_moy_ofnet',
       'nbr_appel_total_sortant_ofnet', 'nbr_appel_sortant_med_ofnet',
       'duree_total_sortant_ofnet', 'duree_sortant_med_ofnet',
       'duree_sortant_moy_ofnet', 'nbr_sms_total_sortant_onnet',
       'nbr_sms_sortant_med_onnet', 'nbr_sms_sortant_moy_onnet',
       'nbr_appel_sortant_moy_onnet', 'nbr_appel_total_sortant_onnet',
       'nbr_appel_sortant_med_onnet', 'duree_total_sortant_onnet',
       'duree_sortant_med_onnet', 'duree_sortant_moy_onnet', 'nbr_rech_sos',
       'nbr_moy_sos', 'montant_tot_sos', 'montant_moy_sos',
       'nbr_corr_dist_entrant_sms_tot', 'nbr_corr_dist_entrant_sms_med',
       'nbr_corr_dist_sortant_sms_tot', 'nbr_corr_dist_sortant_sms_med',
       'nbr_duree_data_tot', 'nbr_duree_data_med', 'nbr_duree_data_moy',
       'volume_family_data_med', 'nbr_family_data', 'family_data_tot',
       'nbre_call_complice', 'duree_x', 'duree_moy_call_complice',
       'volume_data_total', 'volume_data_moy', 'volume_data_med',
       'nbre_corr_sortant', 'nbre_corr_sortant_distinc', 'nbre_corr_entrant',
       'nbre_corr_entrant_distinct', 'temp_sms_moy', 'ecartyp_temp_sms',
       'nbre_distinct_imei_y', 'nbr_achat_pass', 'montant_pass_med',
       'mnt_tot_pass', 'temp_appel_moy', 'ecartyp_temp_appel',
       'ratio_call_dist', 'ratio_dist_sms', 'taux_call_night', 'taux_call_on',
       'taux_call_inter', 'nbre_transaction', 'nbre_distinct_msisdn']]

In [ ]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df6_11)

kmeans_kwargs = {
"init": "random",
"n_init": 10,
"max_iter": 300,
"random_state": 42 }

kmeans = KMeans(n_clusters=1000, **kmeans_kwargs)
kmeans.fit(df6_11)
print(kmeans.inertia_)

yhat6_1 = kmeans.predict(df6_11)

clusters = unique(yhat6_1, return_counts = True)
clusters

In [92]:
1386400 - 1482638

-96238

In [93]:
96238*5

481190

In [96]:
1482638-96238*10

520258

In [88]:
df6_11["classe3"] = yhat6_1

<ipython-input-88-d4a408b79ab3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6_11["classe3"] = yhat6_1

In [89]:
df6_11["msisdn"] = df61["msisdn"]

In [91]:
pd.merge(df6_11[df6_11["classe3"] == 22]["msisdn"] ,fraudeurs, on='msisdn', how='inner').shape

(167, 69)

## ISOLATION FOREST TO DETECT

In [24]:
from sklearn.ensemble import IsolationForest

In [62]:
X = fraudeurs1[["mnt_med_pass_sva", 'mnt_tot_pass_sva', 'nbr_achat_pass_sva',
       'mnt_med_mix', 'mnt_tot_mix', 'nbr_achat_pass_mix',
       'mnt_pass_med_inter', 'mnt_tot_inter_pass', 'nbr_achat_pass_inter',
       'mnt_med_pass_data', 'mnt_tot_pass_data', 'nbr_achat_pass_data',
       'nbr_transac_share', 'vol_tot_data_share', 'vol_moy_data_share',
       'nbr_transac_family', 'vol_tot_data_family', 'vol_moy_data_family',
       'nbr_rechar', 'mnt_rechar_tot', 'mnt_rechar_moy', 'temp_sms_moy',
       'ecartyp_temp_sms', 'nbr_dist_en_of_x', 'nbr_call_en_of_x',
       'duree_call_tot_en_of_x', 'duree_call_moy_en_of_x', 'nbr_dist_sort_on',
       'nbr_call_sort_on', 'duree_call_tot_sort_on', 'duree_call_moy_sort_on',
       'nbr_dist_sort_of', 'nbr_call_sort_of', 'duree_call_tot_sort_of',
       'duree_call_moy_sort_of', 'nbr_sms_tot_sort_inter',
       'nbr_call_tot_sort_inter', 'duree_call_tot_sort_inter',
       'duree_call_moy_sort_inter', 'nbr_call_sort_night',
       'duree_moy_sort_night', 'duree_call_tot_sort_night', 'nbr_sms_tot_en',
       'nbr_dist_sms_en', 'nbr_dist_sort', 'nbr_call_tot_sort',
       'duree_call_tot_sort', 'duree_call_moy_sort', 'nbr_dist_call_en',
       'nbr_call_tot_en', 'duree_call_tot_en', 'duree_call_moy_en',
       'nbre_imsi', 'nbr_dist_en_on', 'nbr_call_en_on', 'duree_call_tot_en_on',
       'duree_call_moy_sort_en', 'nbr_dist_en_of_y', 'nbr_call_en_of_y',
       'duree_call_tot_en_of_y', 'duree_call_moy_en_of_y', 'duree_data_tot',
       'vol_tot_data', 'nbr_call_tot_complice', 'duree_call_moy_complice',
       'duree_call_tot_complice', 'nbr_call_sort_abs', 'nbr_call_en_abs']]

In [63]:
clf = IsolationForest(random_state=0).fit(X)

In [64]:
df_anti2 = df_anti1[['mnt_med_pass_sva', 'mnt_tot_pass_sva', 'nbr_achat_pass_sva',
       'mnt_med_mix', 'mnt_tot_mix', 'nbr_achat_pass_mix',
       'mnt_pass_med_inter', 'mnt_tot_inter_pass', 'nbr_achat_pass_inter',
       'mnt_med_pass_data', 'mnt_tot_pass_data', 'nbr_achat_pass_data',
       'nbr_transac_share', 'vol_tot_data_share', 'vol_moy_data_share',
       'nbr_transac_family', 'vol_tot_data_family', 'vol_moy_data_family',
       'nbr_rechar', 'mnt_rechar_tot', 'mnt_rechar_moy', 'temp_sms_moy',
       'ecartyp_temp_sms', 'nbr_dist_en_of_x', 'nbr_call_en_of_x',
       'duree_call_tot_en_of_x', 'duree_call_moy_en_of_x', 'nbr_dist_sort_on',
       'nbr_call_sort_on', 'duree_call_tot_sort_on', 'duree_call_moy_sort_on',
       'nbr_dist_sort_of', 'nbr_call_sort_of', 'duree_call_tot_sort_of',
       'duree_call_moy_sort_of', 'nbr_sms_tot_sort_inter',
       'nbr_call_tot_sort_inter', 'duree_call_tot_sort_inter',
       'duree_call_moy_sort_inter', 'nbr_call_sort_night',
       'duree_moy_sort_night', 'duree_call_tot_sort_night', 'nbr_sms_tot_en',
       'nbr_dist_sms_en', 'nbr_dist_sort', 'nbr_call_tot_sort',
       'duree_call_tot_sort', 'duree_call_moy_sort', 'nbr_dist_call_en',
       'nbr_call_tot_en', 'duree_call_tot_en', 'duree_call_moy_en',
       'nbre_imsi', 'nbr_dist_en_on', 'nbr_call_en_on', 'duree_call_tot_en_on',
       'duree_call_moy_sort_en', 'nbr_dist_en_of_y', 'nbr_call_en_of_y',
       'duree_call_tot_en_of_y', 'duree_call_moy_en_of_y', 'duree_data_tot',
       'vol_tot_data', 'nbr_call_tot_complice', 'duree_call_moy_complice',
       'duree_call_tot_complice', 'nbr_call_sort_abs', 'nbr_call_en_abs']]

In [72]:
clf.predict(df_anti2.iloc[:300,:])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [73]:
from numpy import unique
clusters_anti = unique(clf.predict(df_anti2.iloc[1:100,:]), return_counts = True)
clusters_anti

(array([1]), array([99]))

In [24]:
df92 = df91

In [25]:
df92["msisdn"] = df["msisdn"]

In [26]:
df6 = df92[df92["classe"] == 6]

In [27]:
df_inner = pd.merge(fraudeurs, df6, on='msisdn', how='inner')

In [28]:
df_inner

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [32]:
for i in df_inner.columns.to_list() :
    if "x" in i :
        df_inner = df_inner.drop([i], axis = 1)

In [33]:
df_inner

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [34]:
df_inner.describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [48]:
kmeans.cluster_centers_

array([[ 5.59497844e+00,  7.60841998e-04,  6.28286837e+02,
         1.49632260e-01,  6.28288359e+02,  1.49632260e-01,
         2.52986905e+02,  8.41491250e-01,  9.23562894e-01,
         8.61273142e-01,  2.97539944e+00,  2.97286330e+00,
         8.59878265e-01,  8.24378666e-01,  7.69464874e-01,
         2.95612478e+00,  2.54450926e+00,  8.41491250e-01,
         1.76008116e+00,  6.18310931e-01,  3.90927213e+02,
         1.38881943e+02,  1.14126300e-01,  6.81942683e+00,
         1.23968988e+04,  9.70327162e-01,  1.24669034e+03,
         1.24669034e+03,  1.14761603e+02,  7.35850154e+07,
         1.99086990e-01,  2.42660064e+08,  1.32386508e+00,
         1.92137966e+01,  1.06644687e-01,  3.93277520e-01,
         1.15433579e+00,  7.47233071e+01,  8.61273142e-01,
         6.66924550e+03,  8.61273142e-01,  1.15433579e+00,
         6.19033731e+02,  6.37966016e-01,  2.50246583e+00,
         1.11771838e+00,  2.81133401e+02,  7.42454984e-01,
         3.08043282e+04,  7.42454984e-01,  1.11771838e+00,
         5.10727872e+00,  4.92402516e-01,  6.09041339e+03,
         6.38124605e+02,  5.21965508e+01,  5.19535886e+01,
         3.49883338e+01,  3.49761603e+01,  3.64766146e+06,
         2.28067094e+03,  6.61865248e+03,  1.14251703e+07,
         6.72077099e-02,  4.60397464e+07,  4.50710119e+01,
         9.70211260e+03,  4.00142680e+02,  4.57975388e+10,
         1.62934761e+09,  1.38666957e+09,  7.88739538e-02,
         5.68095359e-02,  3.04336799e-03,  3.04336799e-03,
         3.32252526e+03,  6.09250646e+03,  2.11514076e-01,
         1.86368248e+01,  2.00294027e+03,  1.50829637e+04,
         3.69894636e+03,  5.62212884e+03,  1.82747157e-01,
         5.75938074e-01,  5.75938074e-01,  8.09489381e-01,
         5.75938074e-01,  2.54450926e+00,  6.52583743e-01],
       [ 1.10389610e+00, -4.33680869e-19,  6.20259740e+01,
         0.00000000e+00,  6.20259740e+01,  0.00000000e+00,
         2.19740260e+01,  1.03896104e-01,  9.25324675e-02,
         7.79220779e-02,  4.28571429e-01,  4.28571429e-01,
         7.79220779e-02,  8.00865801e-02,  7.79220779e-02,
         2.20779221e-01,  4.41558442e-01,  1.29870130e-01,
         2.59740260e-01,  9.09090909e-02,  2.84285714e+01,
         6.85064935e+00,  2.59740260e-02,  9.22077922e-01,
         5.98376623e+03,  1.68831169e-01,  5.84415584e+02,
         5.84415584e+02,  5.19480519e-02,  2.51930597e+07,
         1.29870130e-02,  2.51930597e+07,  1.06493506e+00,
         1.96103896e+00,  7.79220779e-02,  9.14425833e-02,
         1.32781529e-01,  9.71428571e+00,  1.03896104e-01,
         5.81389610e+02,  1.03896104e-01,  1.32781529e-01,
         9.80519481e+00,  7.14285714e-02,  1.26693727e-01,
         1.62160298e-01,  2.56753247e+01,  1.10389610e-01,
         1.56493506e+03,  1.10389610e-01,  1.62160298e-01,
         7.01298701e-01,  4.04889228e-02,  1.36363636e+03,
         7.12375859e+01,  4.59740260e+00,  4.59740260e+00,
         2.71428571e+00,  2.71428571e+00,  2.39490340e+06,
         7.81912338e+03,  1.84726566e+04, -1.16415322e-10,
         0.00000000e+00,  0.00000000e+00,  1.37662338e+00,
         2.05571429e+02,  1.02458256e+01,  2.18001538e+11,
         8.33645157e+09,  7.18043227e+09,  3.89610390e-02,
         3.89610390e-02, -3.46944695e-18,  3.46944695e-18,
         1.25959705e+03,  1.00641565e+03,  2.20779221e-01,
         1.40259740e+00,  8.96103896e+02,  6.33376623e+03,
         4.76673166e+02,  7.06034557e+02,  1.61038961e-02,
         1.00769132e-01,  1.00769132e-01,  9.06502506e-02,
         1.00769132e-01,  4.41558442e-01,  1.07142857e-01],
       [ 5.72034552e+00,  1.77387012e-03,  6.42799591e+02,
         4.08375752e-02,  6.42800594e+02,  3.73476785e-02,
         2.74764404e+02,  9.07681629e-01,  9.19323264e-01,
         8.73168286e-01,  2.54388400e+00,  2.54060620e+00,
         8.72300632e-01,  8.43050125e-01,  7.89295079e-01,
         2.84058306e+00,  1.37625328e+00,  5.92954651e-01,
         9.83302483e-01,  4.39804103e-01,  2.07897270e+02,
         8.76936603e+01,  1.45495912e-01,  8.72801944e+00,
         9.15416204e+03,  1.02437143e+00,  9.02890251e+02,
         9.02890251e+02,  7.97157180e+01,  2.39983868e+07,
         1.81243252e-01,  1.20403769e+08,  1.32666204e+00,
         1.92428274e+01,  1.14626716e-01,  4.09175571e-01,
         1.20898537e+00,  7.86265618e+01,  9.16724510e-01,
         7.20422790e+03,  9.16724510e-01,  1.20898537e+00,
         4.87480217e+02,  6.18849298e-01,  2.28524530e+00,
         1.18336455e+00,  2.53880187e+02,  7.99012803e-01,
         3.07279459e+04,  7.99012803e-01,  1.18336455e+00,
         5.44393028e+00,  5.25944185e-01,  4.38510335e+03,
         5.09980398e+02,  4.73404288e+01,  4.70590390e+01,
         3.17295234e+01,  3.17170292e+01,  3.14578958e+06,
         1.88174707e+03,  5.82414952e+03,  5.94532726e+06,
         3.73669597e-02,  2.17553237e+07,  4.91417168e+01,
         1.16040323e+04,  4.79803862e+02,  1.89290395e+10,
         6.90872303e+08,  5.78443498e+08,  6.24710782e-02,
         4.28813821e-02,  3.97192658e-03,  3.58630264e-03,
         3.51366002e+03,  6.41803934e+03,  2.17144840e-01,
         1.72455268e+01,  1.19036143e+03,  9.26450077e+03,
         4.07210030e+03,  6.00239659e+03,  1.63227032e-01,
         6.24429396e-01,  6.24429396e-01,  8.60004518e-01,
         6.24429396e-01,  1.37625328e+00,  4.56371288e-01],
       [ 7.33333333e-01, -4.33680869e-19,  5.25333333e+01,
         1.38777878e-17,  5.25333333e+01, -3.46944695e-18,
         3.86333333e+01,  2.00000000e-01,  2.11666667e-01,
         2.00000000e-01,  6.00000000e-01,  6.00000000e-01,
         2.00000000e-01,  1.77777778e-01,  1.66666667e-01,
         4.33333333e-01,  1.00000000e-01,  5.00000000e-02,
         6.66666667e-02,  3.33333333e-02,  2.83333333e+00,
         1.41666667e+00,  1.00000000e-01,  2.46666667e+00,
         3.76833333e+03,  1.00000000e+00,  8.36666667e+02,
         8.36666667e+02,  5.09000000e+01,  1.51559173e+10,
         4.78000000e+01,  5.53694378e+11,  1.36666667e+00,
         6.90000000e+00,  3.50000000e-01,  4.44844850e-01,
         2.36400352e-01,  1.11666667e+01,  2.00000000e-01,
         1.14533333e+03,  2.00000000e-01,  2.36400352e-01,
         5.04666667e+01,  3.83333333e-01,  5.61788875e-01,
         2.90788969e-01,  5.37666667e+01,  2.33333333e-01,
         6.98340000e+03,  2.33333333e-01,  2.90788969e-01,
         6.00000000e-01,  1.00000000e-01,  5.33333333e+02,
         7.70833333e+01,  9.63333333e+00,  9.63333333e+00,
         7.70000000e+00,  7.70000000e+00,  8.65988500e+05,
         8.56550000e+02,  2.58053330e+03,  2.08159812e+08,
         1.60000000e+00,  1.21837541e+09,  9.30000000e+00,
         3.52213333e+03,  1.27264715e+02,  3.01017494e+09,
         1.27134742e+08,  9.36385707e+07, -6.93889390e-18,
         0.00000000e+00, -1.73472348e-18,  0.00000000e+00,
         1.43769966e+03,  2.32608646e+03,  3.00000000e-01,
         1.20000000e+00,  5.55000000e+02,  1.56166667e+03,
         8.85767043e+02,  1.26172769e+03,  1.11111111e-02,
         3.12404902e-01,  3.12404902e-01,  2.28652459e-01,
         3.12404902e-01,  1.00000000e-01,  3.33333333e-02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.84480000e+05,
         1.78298915e+08,  5.75157790e+06,  2.67782900e+14,
         8.63815805e+12,  9.25507827e+12,  1.13250000e+04,
         7.65600000e+03,  2.16580000e+04,  1.87690000e+04,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 5.51515152e-01,  2.42424242e-02,  1.08466667e+02,
         1.21212121e-01,  1.08557576e+02,  1.06060606e-01,
         5.54698990e+01,  1.45454545e-01,  1.27272727e-01,
         1.09090909e-01,  3.27272727e-01,  3.27272727e-01,
         1.09090909e-01,  1.09523810e-01,  1.03030303e-01,
         3.15151515e-01,  4.84848485e-02,  3.63636364e-02,
         3.63636364e-02,  2.72727273e-02,  1.92909091e+01,
         1.09848485e+01,  1.03030303e-01,  1.15757576e+00,
         3.74424242e+03,  1.03030303e+00,  4.04242424e+02,
         4.04242424e+02,  4.36363636e+00,  1.50567431e+10,
         2.62424242e+01,  2.22387781e+11,  1.50303030e+00,
         1.17090909e+01,  7.15151515e-01,  8.95548420e-01,
         1.62358747e-01,  6.23636364e+00,  1.45454545e-01,
         7.47036364e+02,  1.45454545e-01,  1.62358747e-01,
         4.47212121e+01,  6.42424242e-01,  8.34345181e-01,
         1.70723556e-01,  2.91393939e+01,  1.30303030e-01,
         3.57510303e+03,  1.30303030e-01,  1.70723556e-01,
         1.93939394e-01,  6.06060606e-02,  1.54545455e+02,
         5.16666667e+01,  8.30303030e+00,  8.30303030e+00,
         4.92727273e+00,  4.92727273e+00,  6.65478582e+05,
         7.07718182e+02,  2.21637477e+03,  8.18270580e+07,
         6.78787879e-01,  6.87929406e+08,  5.15757576e+00,
         6.15757576e+02,  3.47006287e+01,  4.46315190e+09,
         2.44969485e+08,  1.69704751e+08,  5.63636364e-01,
         2.78787879e-01,  1.57575758e-01,  1.27272727e-01,
         2.77367427e+03,  3.42930661e+03,  4.12121212e-01,
         6.12121212e-01,  3.73330303e+02,  1.05059394e+03,
         7.24793778e+02,  9.69585726e+02,  1.66666667e-02,
         3.26439420e-01,  3.26439420e-01,  1.24872573e-01,
         3.26439420e-01,  4.84848485e-02,  2.72727273e-02],
       [ 1.63548257e+00,  1.94673968e-03,  1.94569649e+02,
         8.68848822e-02,  1.94646339e+02,  2.93128696e-02,
         9.48923824e+01,  4.20348687e-01,  2.45957385e-01,
         2.41516974e-01,  4.24591644e-01,  4.24001483e-01,
         2.41194847e-01,  2.74115653e-01,  2.58822171e-01,
         7.96817631e-01,  1.16943564e-01,  6.90244725e-02,
         8.33615447e-02,  5.11467409e-02,  4.08770187e+01,
         1.91107815e+01,  6.84039227e-02,  3.10498780e+00,
         1.43282932e+03,  1.03129553e+00,  7.51381954e+01,
         7.51381954e+01,  1.55321005e+01,  2.08828414e+06,
         4.92671616e-03,  6.92487802e+06,  1.26759253e+00,
         7.35760143e+00,  2.59523860e-01,  3.45173014e-01,
         4.87893311e-01,  1.29766574e+01,  3.97823517e-01,
         1.24855848e+03,  3.97823517e-01,  4.87893311e-01,
         2.90616283e+01,  2.90798115e-01,  5.02649841e-01,
         5.84961731e-01,  3.62193829e+01,  4.37799449e-01,
         4.80678558e+03,  4.37799449e-01,  5.84961731e-01,
         1.22935487e+00,  1.94687775e-01,  5.17468084e+02,
         9.03202067e+01,  8.12392885e+00,  8.06040971e+00,
         3.80985647e+00,  3.80920827e+00,  9.01211139e+04,
         5.94894689e+02,  1.23296636e+03,  2.44673575e+05,
         1.46841182e-03,  1.08745447e+06,  6.25131297e+00,
         1.75216872e+03,  1.08451177e+02,  1.50978407e+08,
         1.41428219e+07,  1.07850028e+07,  4.73222453e-02,
         3.06062973e-02,  6.69780559e-04,  5.06893817e-04,
         1.73471896e+03,  2.14528432e+03,  2.17817257e-01,
         2.40353914e+00,  9.76717878e+01,  6.04089756e+02,
         2.24014215e+03,  3.00786217e+03,  2.41307029e-02,
         3.64439242e-01,  3.64439242e-01,  3.60823498e-01,
         3.64439242e-01,  1.16943564e-01,  5.19578916e-02],
       [ 5.03481592e+00,  1.60073176e-03,  5.82886531e+02,
         3.48502172e-02,  5.82892339e+02,  2.54725970e-02,
         2.56974614e+02,  8.93151155e-01,  7.78403255e-01,
         7.50022868e-01,  1.79666133e+00,  1.79458038e+00,
         7.49108164e-01,  7.78459228e-01,  7.33449577e-01,
         2.43919506e+00,  7.58518180e-01,  3.80133775e-01,
         5.43894352e-01,  2.83998399e-01,  1.61871290e+02,
         7.32048765e+01,  1.37651498e-01,  1.03094329e+01,
         6.86249124e+03,  1.02717814e+00,  5.56185113e+02,
         5.56185113e+02,  5.12686828e+01,  1.37216091e+07,
         7.69265950e-02,  6.13515139e+07,  1.29403156e+00,
         1.58741367e+01,  1.31694489e-01,  3.98980255e-01,
         1.16359498e+00,  6.46970615e+01,  9.03435856e-01,
         5.98512520e+03,  9.03435856e-01,  1.16359498e+00,
         2.86648811e+02,  4.87228447e-01,  1.72110643e+00,
         1.17738201e+00,  1.83023211e+02,  8.16024468e-01,
         2.38622042e+04,  8.16024468e-01,  1.17738201e+00,
         6.13482735e+00,  5.71902189e-01,  3.29568946e+03,
         3.79840565e+02,  3.58825863e+01,  3.56516693e+01,
         2.30473817e+01,  2.30440316e+01,  1.99664423e+06,
         1.61672680e+03,  5.33101457e+03,  4.32298415e+06,
         2.42510862e-02,  1.57615504e+07,  3.79529499e+01,
         9.86871341e+03,  4.37767704e+02,  6.73065100e+09,
         3.00233765e+08,  2.33946125e+08,  5.45620855e-02,
         3.51131946e-02,  3.45300709e-03,  2.94991996e-03,
         3.57717446e+03,  6.14594379e+03,  2.54024697e-01,
         1.63723302e+01,  5.73475943e+02,  5.20243586e+03,
         4.38919968e+03,  6.30748621e+03,  1.21216599e-01,
         6.43503122e-01,  6.43503122e-01,  8.40078216e-01,
         6.43503122e-01,  7.58518180e-01,  2.91599021e-01],
       [ 6.25909753e-01,  1.89228530e-02,  7.00101892e+01,
         9.17030568e+00,  7.91804949e+01,  1.53687530e+00,
         3.32399321e+01,  1.06259098e-01,  1.01621959e-01,
         9.53420670e-02,  3.75545852e-01,  3.75545852e-01,
         9.53420670e-02,  1.10303767e-01,  1.02620087e-01,
         4.84716157e-01,  9.02474527e-02,  4.73071325e-02,
         6.40465793e-02,  3.34788937e-02,  9.16885007e+00,
         2.52328967e+00,  7.71470160e-02,  1.03202329e+00,
         1.02438137e+03,  1.02328967e+00,  3.40975255e+02,
         3.40975255e+02,  8.96360990e+00,  1.11975724e+10,
         1.63959243e+01,  9.71472007e+10,  1.44250364e+00,
         5.87481805e+00,  5.41484716e-01,  6.48685302e-01,
         1.44799280e-01,  8.55604076e+00,  1.17176128e-01,
         7.10471616e+02,  1.17176128e-01,  1.44799280e-01,
         4.76666667e+01,  5.54585153e-01,  7.64588865e-01,
         1.88934298e-01,  3.99956332e+01,  1.34643377e-01,
         3.71548326e+03,  1.34643377e-01,  1.88934298e-01,
         2.91120815e-01,  4.55471748e-02,  2.19068413e+02,
         3.57483128e+01,  7.66084425e+00,  7.62954876e+00,
         4.81950509e+00,  4.81950509e+00,  8.40571818e+05,
         7.74242358e+02,  2.42251674e+03,  5.46312675e+07,
         3.39155750e-01,  2.69642768e+08,  5.31732169e+00,
         9.23933042e+02,  5.03843731e+01,  6.81458019e+09,
         4.84712254e+08,  3.69714536e+08,  2.53275109e-01,
         1.01892285e-01,  7.27802038e-03,  7.27802038e-03,
         2.01162577e+03,  2.82016936e+03,  3.15866084e-01,
         8.90829694e-01,  1.73050218e+02,  7.65927220e+02,
         6.06101164e+02,  7.61674940e+02,  1.29265729e-02,
         2.83307741e-01,  2.83307741e-01,  1.20914778e-01,
         2.83307741e-01,  9.02474527e-02,  3.43279961e-02]])

In [55]:
from sklearn.ensemble import IsolationForest

In [54]:
df93 = df91[df91["classe"] != 6]

In [57]:
df93 = df93.fillna(0)

In [58]:
clf = IsolationForest(random_state=0).fit(df93)

In [59]:
res = clf.predict(df91[df91["classe"] == 6] )

array([1, 1, 1, ..., 1, 1, 1])

In [61]:
unique(res, return_counts = True)

(array([-1,  1]), array([   2218, 1643389]))

In [63]:
df6["classe_iso"] = res

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3040: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df6[df6["classe_iso"] == -1]

In [67]:
pd.merge(fraudeurs,  df6[df6["classe_iso"] == 1] , on='msisdn', how='inner').shape

(520, 184)

In [36]:
df92 = df9.fillna(0)

In [43]:
kmeanss = KMeans(n_clusters=100, **kmeans_kwargs)
kmeanss.fit(df92)
print(kmeanss.inertia_)

3.6297846454734664e+23

In [44]:
yhatt = kmeanss.predict(df92)

In [45]:
from numpy import unique
unique(yhatt, return_counts = True)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
        34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
        51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
        68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
        85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
       dtype=int32),
 array([   9316,     112,      12,   11438,       1,       1,     170,
          20365,       1,       1,      52,       1,       1,   24603,
          16943,       1,   15492,       1,     451,       1,       6,
            212,      17,       2,       2,       2,       1,       1,
              3,       8,     258,    4090,      52,       1,     106,
              2,    2714,      16,       1, 1424554,    1722,       4,
              1,    5701,       1,       2,      11,   12507,     106,
          14325,       8,       1,       1,      39,     226,       1,
            140,     573,   22441,       1,      24,    2378,      15,
              1,       1,       1,       3,       1,    7566,     255,
              4,       1,       1,      11,   32450,      71,       9,
            148,   20901,       1,       5,      50,   28414,   19292,
              1,       1,       1,   43648,       1,      49,     503,
          17858,       9,      10,    1012,       3,       1,      71,
              5,      12]))

42

In [21]:
df91[df91["classe"] == 4]

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/IPython/core/formatters.py:345: UserWarning:
Lux defaults to Pandas when there are no valid actions defined.

,nbre_call_entrant_inter,nbre_call_sortant_inter,duree_entrant_inter,duree_sortant_inter,duree_total_inter,duree_moy_sortant_inter,duree_moy_inter,nbr_cor_dist,nbr_appel_abs_entr_moy,nbr_appel_abs_entr_med,...,temp_appel_moy,ecartyp_temp_appel,ratio_call_dist,ratio_dist_sms,taux_call_night,taux_call_on,taux_call_inter,nbre_transaction,nbre_distinct_msisdn,classe
1763609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [22]:
df99 = df91

In [23]:
df99.index = df["msisdn"]

In [25]:
df99[df99["classe"] == 0]

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [35]:
df999 = df99[df99["classe"] == 6]

In [36]:
kmeanss = KMeans(n_clusters=2, **kmeans_kwargs)
kmeanss.fit(df999)
print(kmeanss.inertia_)

3.8544142700779166e+23

In [37]:
yhatt = kmeanss.predict(df999)

In [38]:
from numpy import unique
clusterss = unique(yhatt, return_counts = True)

In [39]:
clusterss

(array([0, 1], dtype=int32), array([  96188, 1549419]))

In [40]:
df999.shape

(1645607, 91)

In [41]:
df999["classe2"] = yhatt

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3040: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
df999[df999["classe2"] == 0].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [43]:
df9999 = df999[df999["classe2"] == 1]

In [44]:
kmeanss = KMeans(n_clusters=2, **kmeans_kwargs)
kmeanss.fit(df9999)
print(kmeanss.inertia_)
yhatt = kmeanss.predict(df9999)

from numpy import unique
clusterss = unique(yhatt, return_counts = True)
clusterss

9.772672934336805e+22

(array([0, 1], dtype=int32), array([1549170,     249]))

In [45]:
df9999["classe3"] = yhatt

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3040: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
df9999[df9999["classe3"] == 1].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [54]:
df999 = df99[df99["nbre_call_sortant_inter"] > 10]

In [97]:
df999999 = df99[df99["nbre_call_sortant_inter"] > 7]

In [98]:
df999999.shape

(24, 91)

In [99]:
df999999.describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [ ]:
kmeanss = KMeans(n_clusters=2, **kmeans_kwargs)
kmeanss.fit(df999)
print(kmeanss.inertia_)

In [94]:
kmeanss = KMeans(n_clusters=2, **kmeans_kwargs)
kmeanss.fit(df999999)
print(kmeanss.inertia_)
yhatt = kmeanss.predict(df999999)

from numpy import unique
clusterss = unique(yhatt, return_counts = True)
clusterss

3.1568156652964055e+22

(array([0, 1], dtype=int32), array([1647,    3]))

In [95]:
df999999["classe2"] = yhatt

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3040: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [96]:
df66[df66["classe2"] == 1].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [81]:
df66[df66["classe2"] == 1]

,nbre_call_entrant_inter,nbre_call_sortant_inter,duree_entrant_inter,duree_sortant_inter,duree_total_inter,duree_moy_sortant_inter,duree_moy_inter,nbr_cor_dist,nbr_appel_abs_entr_moy,nbr_appel_abs_entr_med,...,ecartyp_temp_appel,ratio_call_dist,ratio_dist_sms,taux_call_night,taux_call_on,taux_call_inter,nbre_transaction,nbre_distinct_msisdn,classe,classe2
msisdn,,,,,,,,,,,,,,,,,,,,,
77880150.0,3.0,10.0,184.0,39.0,184.0,5.571429,172.0,1.0,2.0,2.0,...,6119.550933,0.5,0.657143,0.657143,0.840625,0.657143,2.0,1.0,6,1

In [82]:
df666 = df66[df66["classe2"] == 0]

In [83]:
kmeanss = KMeans(n_clusters=2, **kmeans_kwargs)
kmeanss.fit(df666)
print(kmeanss.inertia_)
yhatt = kmeanss.predict(df666)

from numpy import unique
clusterss = unique(yhatt, return_counts = True)
clusterss

196301647805104.53

(array([0, 1], dtype=int32), array([ 1, 21]))

In [84]:
df666["classe22"] = yhatt

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3040: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
df666[df666["classe22"] == 1].describe()

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [88]:
df6 = df99[df99["classe"] == 6]

In [ ]:
df68 = df6[df6["classe"] == 6]

In [89]:
kmeanss = KMeans(n_clusters=2, **kmeans_kwargs)
kmeanss.fit(df6)
print(kmeanss.inertia_)
yhatt = kmeanss.predict(df6)

from numpy import unique
clusterss = unique(yhatt, return_counts = True)
clusterss

3.8544142700779166e+23

(array([0, 1], dtype=int32), array([  96188, 1549419]))

In [90]:
df6["classe22"] = yhatt

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3040: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [100]:
df77 = df99[df99["classe"] == 6]

In [106]:
df777 =  df77[df77["nbre_call_sortant_inter"] > 0]

In [104]:
df77[df77["nbre_call_sortant_inter"] > 0].shape

(1516, 91)

In [ ]:
df77[df77["nbre_call_sortant_inter"] > 0]

In [107]:
from sklearn.cluster import SpectralClustering
import numpy as np
X = np.array([[1, 1], [2, 1], [1, 0],
               [4, 7], [3, 5], [3, 6]])
clustering = SpectralClustering(n_clusters=2,
         assign_labels='discretize',
         random_state=0).fit(df777)
clustering.labels_
clustering

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/sklearn/manifold/_spectral_embedding.py:245: UserWarning:Graph is not fully connected, spectral embedding may not work as expected.

SpectralClustering(assign_labels='discretize', n_clusters=2, random_state=0)

In [108]:
silhouette_score(df777, clustering.labels_)

0.07413582948726037

In [110]:
sill : []

In [111]:
for i in range(2,10) :
    clustering = SpectralClustering(n_clusters=i,
         assign_labels='discretize',
         random_state=0).fit(df777)
    sill.append(silhouette_score(df777, clustering.labels_))

/Users/youssouf/opt/anaconda3/lib/python3.8/site-packages/sklearn/manifold/_spectral_embedding.py:245: UserWarning:Graph is not fully connected, spectral embedding may not work as expected.

NameError: name 'sill' is not defined

In [ ]:
plt.style.use("fivethirtyeight")
plt.plot(range(2, 10), sill)
plt.xticks(range(1, 11))
plt.xlabel("Number of Clusters")
plt.ylabel("silhouette_score")
plt.show()