In [99]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]")\
          .appName("sunshine_v2")\
          .getOrCreate()

In [100]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.ml.feature import *

In [101]:
individu = spark.read.\
       option("header", "true").\
       option("delimiter", ";").\
       csv("/Users/youssouf/Documents/simboxv2/df_echantillon_train_simbox.csv")

individu = individu.dropDuplicates()
individu = individu.toDF(*(c.replace('.', '_') for c in individu.columns))
individu.show()

+-------------------------------+-------------------------------+
|echantillon_train_simbox_msisdn|echantillon_train_simbox_statut|
+-------------------------------+-------------------------------+
|                       09664314|                              0|
|                       59396661|                              0|
|                       08426232|                              0|
|                       07736571|                              0|
|                       08040534|                              0|
|                       68920076|                              0|
|                       77121885|                              0|
|                       97228552|                              0|
|                       88384131|                              0|
|                       88620304|                              0|
|                       88163609|                              0|
|                       57849472|                              0|
|                       09965894|                              0|
|                       98374630|                              0|
|                       88577153|                              0|
|                       58458341|                              0|
|                       58142139|                              0|
|                       08733056|                              0|
|                       48743148|                              0|
|                       59666862|                              0|
+-------------------------------+-------------------------------+
only showing top 20 rows

### Nombre de fraudeurs et non fraudeurs

In [84]:
individu.groupby("echantillon_train_simbox_statut").count().show()

+-------------------------------+-------+
|echantillon_train_simbox_statut|  count|
+-------------------------------+-------+
|                              0|1016375|
|                              1|   1960|
+-------------------------------+-------+

In [86]:
(1960 / 1016375)*100

0.19284220883040215

In [ ]:
#simbox_temp_cons_sms_msisdn

In [102]:
temp_cons_call = spark.read.\
       option("header", "true").\
       option("delimiter", ";").\
       csv("/Users/youssouf/Documents/simboxv2/df_sunshine_simbox_temp_cons_call.csv")

temp_cons_call = temp_cons_call.dropDuplicates()
temp_cons_call = temp_cons_call.toDF(*(c.replace('.', '_') for c in temp_cons_call.columns))
temp_cons_call.show()

+----------------------------+------------------------------------+----------------------------------------+
|simbox_temp_cons_call_msisdn|simbox_temp_cons_call_temp_appel_moy|simbox_temp_cons_call_ecartyp_temp_appel|
+----------------------------+------------------------------------+----------------------------------------+
|                    07293076|                   5906.605839416058|                       8518.525616370136|
|                    07480843|                  3434.3872549019607|                       5480.182841163482|
|                    07751948|                             17844.0|                                 10863.0|
|                    08009927|                                NULL|                                    NULL|
|                    08129412|                              6292.0|                       7311.198830105314|
|                    08423262|                  10323.266666666666|                      10045.844507169231|
|                    47321115|                  2689.6408839779006|                      5102.7686037603025|
|                    47325459|                                NULL|                                    NULL|
|                    47578307|                   8069.833333333333|                      10064.080425232876|
|                    47616434|                  2794.5584415584417|                       6611.082039054126|
|                    48190388|                                NULL|                                    NULL|
|                    48723294|                   2117.844023323615|                      3426.4578515744042|
|                    48931338|                                NULL|                                    NULL|
|                    49968160|                              2770.0|                                     0.0|
|                    58120333|                   4191.557142857143|                       8968.705099456687|
|                    58811793|                   2129.724193548387|                        4180.97699337034|
|                    58913278|                   2985.884892086331|                       6048.249464421296|
|                    67722194|                                NULL|                                    NULL|
|                    68045504|                              5957.0|                                     0.0|
|                    69409424|                  3854.3946188340806|                       6797.655833507832|
+----------------------------+------------------------------------+----------------------------------------+
only showing top 20 rows

In [103]:
temp_cons_sms = spark.read.\
       option("header", "true").\
       option("delimiter", ";").\
       csv("/Users/youssouf/Documents/simboxv2/df_sunshine_simbox_temp_cons_sms.csv")

temp_cons_sms = temp_cons_sms.dropDuplicates()
temp_cons_sms = temp_cons_sms.toDF(*(c.replace('.', '_') for c in temp_cons_sms.columns))
temp_cons_sms.show()

+---------------------------+---------------------------------+-------------------------------------+
|simbox_temp_cons_sms_msisdn|simbox_temp_cons_sms_temp_sms_moy|simbox_temp_cons_sms_ecartyp_temp_sms|
+---------------------------+---------------------------------+-------------------------------------+
|                   07117188|               2025.0854271356784|                    5110.096388841895|
|                   07234808|               2385.6276422764226|                    5706.241091246586|
|                   07396114|                             NULL|                                 NULL|
|                   07410540|                             NULL|                                 NULL|
|                   07958942|                             NULL|                                 NULL|
|                   08369306|                885.1705882352941|                    3024.420066969516|
|                   08546231|                             NULL|                                 NULL|
|                   08630029|                             NULL|                                 NULL|
|                   08990215|               43.166666666666664|                    88.93146549762663|
|                   09114500|                              6.0|                                  0.0|
|                   09471588|                            842.0|                                  0.0|
|                   09924693|                             NULL|                                 NULL|
|                   47176424|                             NULL|                                 NULL|
|                   47810053|                             20.0|                                  0.0|
|                   47855763|                4032.611888111888|                    9364.988489331594|
|                   48966700|                             NULL|                                 NULL|
|                   49132535|                             NULL|                                 NULL|
|                   49185657|               2475.8947368421054|                    4826.813582203141|
|                   57339760|                5617.233333333334|                    9048.128477511556|
|                   57570352|               4080.1521739130435|                     7999.08309193158|
+---------------------------+---------------------------------+-------------------------------------+
only showing top 20 rows

In [104]:
imsi = spark.read.\
       option("header", "true").\
       option("delimiter", ";").\
       csv("/Users/youssouf/Documents/simboxv2/df_sunshine_simbox_imsi.csv")

imsi = imsi.dropDuplicates()
imsi = imsi.toDF(*(c.replace('.', '_') for c in imsi.columns))
imsi.show()

+------------------+---------------------+
|simbox_imsi_msisdn|simbox_imsi_nbre_imsi|
+------------------+---------------------+
|          07189240|                    1|
|          07329996|                    1|
|          07559648|                    1|
|          07809004|                    1|
|          08185074|                    1|
|          09111412|                    1|
|          09630349|                    1|
|          48322309|                    1|
|          48550629|                    1|
|          49271746|                    1|
|          57759808|                    1|
|          58625068|                    1|
|          58798460|                    1|
|          58831889|                    1|
|          58842914|                    1|
|          59117921|                    1|
|          59641177|                    1|
|          67063161|                    1|
|          67291704|                    1|
|          68502791|                    1|
+------------------+---------------------+
only showing top 20 rows

In [105]:
complice = spark.read.\
       option("header", "true").\
       option("delimiter", ";").\
       csv("/Users/youssouf/Documents/simboxv2/df_sunshine_simbox_complice.csv")

complice = complice.dropDuplicates()
complice = complice.toDF(*(c.replace('.', '_') for c in complice.columns))
complice.show()

+-----------------------+----------------------+--------------------------------------+-------------------------------------+---------------------------------------+---------------------------------------+
|simbox_complice_date_id|simbox_complice_msisdn|simbox_complice_nbr_dist_call_complice|simbox_complice_nbr_call_tot_complice|simbox_complice_duree_tot_call_complice|simbox_complice_duree_moy_call_complice|
+-----------------------+----------------------+--------------------------------------+-------------------------------------+---------------------------------------+---------------------------------------+
|               20201021|              07412786|                                     3|                                    5|                                   5417|                                 1083.4|
|                   NULL|              08168853|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              08245585|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|               20201021|              47010360|                                     1|                                    2|                                    355|                                  177.5|
|                   NULL|              49379318|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              49579313|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              57839821|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              58411543|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              58624353|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              59552225|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              59601973|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              59657312|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              67465058|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              67589986|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              69081351|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              69921406|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              78942605|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              87020346|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              87648180|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
|                   NULL|              89272269|                                  NULL|                                 NULL|                                   NULL|                                   NULL|
+-----------------------+----------------------+--------------------------------------+-------------------------------------+---------------------------------------+---------------------------------------+
only showing top 20 rows

In [106]:
entrant_call = spark.read.\
       option("header", "true").\
       option("delimiter", ";").\
       csv("/Users/youssouf/Documents/simboxv2/df_sunshine_simbox_entrant_call.csv")

entrant_call = entrant_call.dropDuplicates()
entrant_call = entrant_call.toDF(*(c.replace('.', '_') for c in entrant_call.columns))
entrant_call.show()

+---------------------------+--------------------------+------------------------------------+-----------------------------------+-------------------------------------+-------------------------------------+
|simbox_entrant_call_date_id|simbox_entrant_call_msisdn|simbox_entrant_call_nbr_dist_call_en|simbox_entrant_call_nbr_call_tot_en|simbox_entrant_call_duree_call_tot_en|simbox_entrant_call_duree_call_moy_en|
+---------------------------+--------------------------+------------------------------------+-----------------------------------+-------------------------------------+-------------------------------------+
|                   20201024|                  07440520|                                   2|                                  2|                                   65|                                 32.5|
|                       NULL|                  08168853|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                   20201024|                  08706124|                                   2|                                  3|                                  428|                   142.66666666666666|
|                   20201024|                  09804123|                                   7|                                  7|                                  663|                    94.71428571428571|
|                   20201024|                  48625469|                                   1|                                  1|                                   32|                                 32.0|
|                   20201024|                  48957261|                                   8|                                 12|                                 2467|                   205.58333333333334|
|                       NULL|                  49379318|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                       NULL|                  49579313|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                       NULL|                  57839821|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                       NULL|                  58411543|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                       NULL|                  59601973|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                   20201024|                  59735556|                                   2|                                  3|                                   90|                                 30.0|
|                       NULL|                  67589986|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                   20201024|                  68469591|                                   4|                                  4|                                  321|                                80.25|
|                   20201024|                  68511331|                                   4|                                  4|                                  184|                                 46.0|
|                       NULL|                  87020346|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                       NULL|                  87648180|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                   20201024|                  89073091|                                   3|                                  5|                                  297|                                 59.4|
|                       NULL|                  89272269|                                NULL|                               NULL|                                 NULL|                                 NULL|
|                       NULL|                  89287635|                                NULL|                               NULL|                                 NULL|                                 NULL|
+---------------------------+--------------------------+------------------------------------+-----------------------------------+-------------------------------------+-------------------------------------+
only showing top 20 rows

In [107]:
entrant_sms = spark.read.\
       option("header", "true").\
       option("delimiter", ";").\
       csv("/Users/youssouf/Documents/simboxv2/df_sunshine_simbox_entrant_sms.csv")

entrant_sms = entrant_sms.dropDuplicates()
entrant_sms = entrant_sms.toDF(*(c.replace('.', '_') for c in entrant_sms.columns))
entrant_sms.show()

+--------------------------+-------------------------+----------------------------------+---------------------------------+
|simbox_entrant_sms_date_id|simbox_entrant_sms_msisdn|simbox_entrant_sms_nbr_dist_sms_en|simbox_entrant_sms_nbr_sms_tot_en|
+--------------------------+-------------------------+----------------------------------+---------------------------------+
|                  20201016|                 07555141|                                 5|                               16|
|                  20201016|                 07759767|                                 1|                                2|
|                  20201016|                 07777396|                                 1|                                6|
|                      NULL|                 08638053|                              NULL|                             NULL|
|                      NULL|                 09088524|                              NULL|                             NULL|
|                      NULL|                 09705237|                              NULL|                             NULL|
|                      NULL|                 09977443|                              NULL|                             NULL|
|                      NULL|                 47632918|                              NULL|                             NULL|
|                      NULL|                 48096566|                              NULL|                             NULL|
|                      NULL|                 48257653|                              NULL|                             NULL|
|                      NULL|                 48709429|                              NULL|                             NULL|
|                  20201016|                 49175864|                                 1|                                1|
|                      NULL|                 49666063|                              NULL|                             NULL|
|                      NULL|                 57396314|                              NULL|                             NULL|
|                  20201016|                 57546340|                                 1|                               16|
|                      NULL|                 57815148|                              NULL|                             NULL|
|                      NULL|                 58171619|                              NULL|                             NULL|
|                      NULL|                 58315758|                              NULL|                             NULL|
|                      NULL|                 58451823|                              NULL|                             NULL|
|                      NULL|                 67409699|                              NULL|                             NULL|
+--------------------------+-------------------------+----------------------------------+---------------------------------+
only showing top 20 rows

In [25]:
#rechargement_om = spark.read.\
#       option("header", "true").\
#       option("delimiter", ";").\
#       csv("/Users/youssouf/Documents/simboxv2/df_sunshine_simbox_rechargement_om.csv")

#rechargement_om.show()
#rechargement_om = rechargement_om.dropDuplicates()

In [98]:
#for cl in liste:
#    df3 = df3.withColumn(cl, col(cl).cast(DoubleType()))
#df3 = df3.fillna(0)

### Jointure des data frames

In [145]:
df = individu.join(temp_cons_call, individu.echantillon_train_simbox_msisdn == temp_cons_call.simbox_temp_cons_call_msisdn, "left_outer" ).drop("simbox_temp_cons_sms_msisdn") \
             .join(temp_cons_sms, individu.echantillon_train_simbox_msisdn == temp_cons_sms.simbox_temp_cons_sms_msisdn , "left_outer").drop("simbox_temp_cons_sms_msisdn") \
             .join(imsi, individu.echantillon_train_simbox_msisdn == imsi.simbox_imsi_msisdn , "left_outer").drop("simbox_imsi_msisdn") \
             .join(complice, individu.echantillon_train_simbox_msisdn == complice.simbox_complice_msisdn , "left_outer").drop("simbox_complice_msisdn", "simbox_complice_date_id") \
#             .join(entrant_call, individu.echantillon_train_simbox_msisdn == entrant_call.simbox_entrant_call_msisdn , "left_outer").drop("simbox_entrant_call_msisdn","simbox_entrant_call_date_id") \
#             .join(entrant_sms, individu.echantillon_train_simbox_msisdn == entrant_sms.simbox_entrant_sms_msisdn , "left_outer").drop("simbox_entrant_sms_msisdn","simbox_entrant_sms_date_id")

In [146]:
df.columns

['echantillon_train_simbox_msisdn',
 'echantillon_train_simbox_statut',
 'simbox_temp_cons_call_msisdn',
 'simbox_temp_cons_call_temp_appel_moy',
 'simbox_temp_cons_call_ecartyp_temp_appel',
 'simbox_temp_cons_sms_temp_sms_moy',
 'simbox_temp_cons_sms_ecartyp_temp_sms',
 'simbox_imsi_nbre_imsi']

In [147]:
df.groupby("echantillon_train_simbox_statut").count().show()

+-------------------------------+-------+
|echantillon_train_simbox_statut|  count|
+-------------------------------+-------+
|                              0|1016375|
|                              1|   1960|
+-------------------------------+-------+

In [137]:
df.columns

['echantillon_train_simbox_msisdn',
 'echantillon_train_simbox_statut',
 'simbox_temp_cons_call_msisdn',
 'simbox_temp_cons_call_temp_appel_moy',
 'simbox_temp_cons_call_ecartyp_temp_appel',
 'simbox_temp_cons_sms_temp_sms_moy',
 'simbox_temp_cons_sms_ecartyp_temp_sms',
 'simbox_imsi_nbre_imsi']

In [148]:
coll = ['msisdn',
 'statut',
 'xmsisdn',
 'temp_appel_moy',
 'ecartyp_temp_appel',
 'temp_sms_moy',
 'ecartyp_temp_sms',
 'nbre_imsi']

In [149]:
df = df.toDF('msisdn',
 'statut',
 'xmsisdn',
 'temp_appel_moy',
 'ecartyp_temp_appel',
 'temp_sms_moy',
 'ecartyp_temp_sms',
 'nbre_imsi')

In [150]:
df = df.drop("xmsisdn")

### Count Na'Values by Column

In [57]:
from pyspark.sql.functions import isnan, when, count, col

df.select([count(when(isnan(c), c)).alias(c) for c in df.columns]).show()

+------+------+------------+----------------+-------------+-----------------+---------+----------------------+---------------------+-----------------------+-----------------------+---------------------+--------------------+----------------------+----------------------+-------------------+------------------+
|msisdn|statut|temp_sms_moy|ecartyp_temp_sms|temp_sms_moy1|ecartyp_temp_sms1|nbre_imsi|nbr_dist_call_complice|nbr_call_tot_complice|duree_tot_call_complice|duree_moy_call_complice|call_nbr_dist_call_en|call_nbr_call_tot_en|call_duree_call_tot_en|call_duree_call_moy_en|sms_nbr_dist_sms_en|sms_nbr_sms_tot_en|
+------+------+------------+----------------+-------------+-----------------+---------+----------------------+---------------------+-----------------------+-----------------------+---------------------+--------------------+----------------------+----------------------+-------------------+------------------+
|     0|     0|           0|               0|            0|                0|        0|                     0|                    0|                      0|                      0|                    0|                   0|                     0|                     0|                  0|                 0|
+------+------+------------+----------------+-------------+-----------------+---------+----------------------+---------------------+-----------------------+-----------------------+---------------------+--------------------+----------------------+----------------------+-------------------+------------------+

### Taille du DataFrame

In [140]:
df.count(), len(df.columns)

(1018335, 8)

### Afficahge du Dataframe

In [141]:
df.printSchema()

root
 |-- msisdn: string (nullable = true)
 |-- statut: string (nullable = true)
 |-- msisdn: string (nullable = true)
 |-- temp_appel_moy: string (nullable = true)
 |-- ecartyp_temp_appel: string (nullable = true)
 |-- temp_sms_moy: string (nullable = true)
 |-- ecartyp_temp_sms: string (nullable = true)
 |-- nbre_imsi: string (nullable = true)

In [151]:
df.show()

+--------+------+------------------+------------------+------------------+------------------+---------+
|  msisdn|statut|    temp_appel_moy|ecartyp_temp_appel|      temp_sms_moy|  ecartyp_temp_sms|nbre_imsi|
+--------+------+------------------+------------------+------------------+------------------+---------+
|07000421|     0| 2527.929411764706|3395.9711693788854| 1101.341517857143|4422.6069336384335|        1|
|07001041|     0| 5827.075268817204| 7931.733563157254| 6748.307692307692|10665.039416311563|        1|
|07003963|     0| 1929.031328320802|2941.7575910639625| 2461.407854984894| 5781.348364020444|        1|
|07004359|     0| 4190.748743718593| 6304.263389294098| 3403.548387096774| 8836.558693178089|        1|
|07004719|     0|        5712.53125| 7888.953742751534|20378.333333333332| 13733.95026661761|        1|
|07004893|     0| 5207.203389830508| 7277.673950385803| 2878.076433121019| 6447.661046848671|        1|
|07005380|     0| 5463.145161290323| 7522.883650197714| 2175.622377622378| 6167.381083072044|        1|
|07011547|     0|              NULL|              NULL|            113.25| 34.52806829233283|        1|
|07011888|     0| 3082.936842105263|3891.6252289148906|              NULL|              NULL|        1|
|07021598|     0| 6368.107142857143| 8809.739923756812|4566.5210084033615| 10211.71701654669|        1|
|07021782|     0| 7717.342857142857|11203.089425798982|              NULL|              NULL|        1|
|07023380|     0|           9140.88|10976.139761573739|              NULL|              NULL|        1|
|07023905|     0|3609.0934579439254| 4439.461050755165|           10836.0|12826.864156821846|        1|
|07024072|     0|            2199.0| 4330.463678021866|              NULL|              NULL|        1|
|07027377|     0| 3603.391304347826| 7270.319090175331|              15.0|               7.0|        1|
|07033852|     0|10290.166666666666| 9581.130594675256|              24.0|               0.0|        1|
|07036535|     0|3300.9545454545455| 5820.187090692288|11896.666666666666|3601.0213674579727|        1|
|07036862|     0| 4504.633333333333|  6452.50384209279|            738.75|1274.9341894780296|        1|
|07040918|     0|              NULL|              NULL|              NULL|              NULL|        1|
|07042409|     0|           6191.35| 7102.101993600205| 4507.173913043478| 9870.037628162745|        1|
+--------+------+------------------+------------------+------------------+------------------+---------+
only showing top 20 rows

### Replace NULL , null by 0

In [152]:
df = df.replace('NULL',str(0))
#df = df.replace(null ,str(0))
df = df.na.fill(0)

### Checking if done

In [153]:
df.show()

+--------+------+------------------+------------------+------------------+------------------+---------+
|  msisdn|statut|    temp_appel_moy|ecartyp_temp_appel|      temp_sms_moy|  ecartyp_temp_sms|nbre_imsi|
+--------+------+------------------+------------------+------------------+------------------+---------+
|07000421|     0| 2527.929411764706|3395.9711693788854| 1101.341517857143|4422.6069336384335|        1|
|07001041|     0| 5827.075268817204| 7931.733563157254| 6748.307692307692|10665.039416311563|        1|
|07003963|     0| 1929.031328320802|2941.7575910639625| 2461.407854984894| 5781.348364020444|        1|
|07004359|     0| 4190.748743718593| 6304.263389294098| 3403.548387096774| 8836.558693178089|        1|
|07004719|     0|        5712.53125| 7888.953742751534|20378.333333333332| 13733.95026661761|        1|
|07004893|     0| 5207.203389830508| 7277.673950385803| 2878.076433121019| 6447.661046848671|        1|
|07005380|     0| 5463.145161290323| 7522.883650197714| 2175.622377622378| 6167.381083072044|        1|
|07011547|     0|                 0|                 0|            113.25| 34.52806829233283|        1|
|07011888|     0| 3082.936842105263|3891.6252289148906|                 0|                 0|        1|
|07021598|     0| 6368.107142857143| 8809.739923756812|4566.5210084033615| 10211.71701654669|        1|
|07021782|     0| 7717.342857142857|11203.089425798982|                 0|                 0|        1|
|07023380|     0|           9140.88|10976.139761573739|                 0|                 0|        1|
|07023905|     0|3609.0934579439254| 4439.461050755165|           10836.0|12826.864156821846|        1|
|07024072|     0|            2199.0| 4330.463678021866|                 0|                 0|        1|
|07027377|     0| 3603.391304347826| 7270.319090175331|              15.0|               7.0|        1|
|07033852|     0|10290.166666666666| 9581.130594675256|              24.0|               0.0|        1|
|07036535|     0|3300.9545454545455| 5820.187090692288|11896.666666666666|3601.0213674579727|        1|
|07036862|     0| 4504.633333333333|  6452.50384209279|            738.75|1274.9341894780296|        1|
|07040918|     0|                 0|                 0|                 0|                 0|        1|
|07042409|     0|           6191.35| 7102.101993600205| 4507.173913043478| 9870.037628162745|        1|
+--------+------+------------------+------------------+------------------+------------------+---------+
only showing top 20 rows

### Nombre de fraudeurs

In [154]:
df.groupby("statut").count().show()

+------+-------+
|statut|  count|
+------+-------+
|     0|1016375|
|     1|   1960|
+------+-------+

### Converting to DOUBLE

In [155]:
liste = [
 'statut',
 'temp_appel_moy',
 'ecartyp_temp_appel',
 'temp_sms_moy',
 'ecartyp_temp_sms',
 'nbre_imsi']

for cl in liste:
    df = df.withColumn(cl, col(cl).cast(DoubleType()))

## Models

### Random Forest Model

In [166]:
df = df.withColumnRenamed("statut", "label")

In [167]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [168]:
feature_list = [
 'temp_appel_moy',
 'ecartyp_temp_appel',
 'temp_sms_moy',
 'ecartyp_temp_sms',
 'nbre_imsi']

In [169]:
assembler = VectorAssembler(inputCols=feature_list , outputCol="features")

In [170]:
rf = RandomForestClassifier(labelCol="label", featuresCol="features")

In [171]:
pipeline = Pipeline(stages=[assembler, rf])

In [177]:
from pyspark.ml.tuning import ParamGridBuilder
import numpy as np
paramGrid = ParamGridBuilder() \
    .addGrid(rf.numTrees, [int(x) for x in np.linspace(start = 10, stop = 13, num = 3)]) \
    .addGrid(rf.maxDepth, [int(x) for x in np.linspace(start = 5, stop = 8, num = 3)]) \
    .build()

In [178]:
from pyspark.ml.tuning import CrossValidator
from pyspark.ml.evaluation import RegressionEvaluator
crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=BinaryClassificationEvaluator(),
                          numFolds=3)

In [179]:
(trainingData, testData) = df.randomSplit([0.8, 0.2])

In [185]:
trainingData.groupby("label").count().show()

+-----+------+
|label| count|
+-----+------+
|  0.0|812441|
|  1.0|  1558|
+-----+------+

In [187]:
def resample(base_features,ratio,class_field,base_class):
    pos = base_features.filter(col(class_field)==base_class)
    neg = base_features.filter(col(class_field)!=base_class)
    total_pos = pos.count()
    total_neg = neg.count()
    fraction=float(total_pos*ratio)/float(total_neg)
    sampled = neg.sample(False,fraction)
    return sampled.union(pos)

In [201]:
trainingData_ = resample(trainingData, 1.5 , "label", 1.0)

In [202]:
trainingData_.groupby("label").count().show()

+-----+-----+
|label|count|
+-----+-----+
|  0.0| 2340|
|  1.0| 1558|
+-----+-----+

In [186]:
testData.groupby("label").count().show()

+-----+------+
|label| count|
+-----+------+
|  0.0|203934|
|  1.0|   402|
+-----+------+

In [203]:
cvModel = crossval.fit(trainingData_)

In [204]:
predictions = cvModel.transform(testData)

In [182]:
predictions.show(3)

+--------+-----+-----------------+------------------+-----------------+------------------+---------+--------------------+--------------------+--------------------+----------+
|  msisdn|label|   temp_appel_moy|ecartyp_temp_appel|     temp_sms_moy|  ecartyp_temp_sms|nbre_imsi|            features|       rawPrediction|         probability|prediction|
+--------+-----+-----------------+------------------+-----------------+------------------+---------+--------------------+--------------------+--------------------+----------+
|07001041|  0.0|5827.075268817204| 7931.733563157254|6748.307692307692|10665.039416311563|      1.0|[5827.07526881720...|[12.9904156441858...|[0.99926274186044...|       0.0|
|07003963|  0.0|1929.031328320802|2941.7575910639625|2461.407854984894| 5781.348364020444|      1.0|[1929.03132832080...|[12.9528745850120...|[0.99637496807784...|       0.0|
|07004359|  0.0|4190.748743718593| 6304.263389294098|3403.548387096774| 8836.558693178089|      1.0|[4190.74874371859...|[12.9908523164536...|[0.99929633203489...|       0.0|
+--------+-----+-----------------+------------------+-----------------+------------------+---------+--------------------+--------------------+--------------------+----------+
only showing top 3 rows

In [205]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator()
print('Test Area Under ROC', evaluator.evaluate(predictions))

Test Area Under ROC 0.8917839090170963

In [28]:
#print('Training set areaUnderROC: ' + str(trainingSummary.areaUnderROC))

+-------------------------------+
|echantillon_train_simbox.msisdn|
+-------------------------------+
|                       09664314|
|                       59396661|
|                       08426232|
|                       07736571|
|                       08040534|
|                       68920076|
|                       77121885|
|                       97228552|
|                       88384131|
|                       88620304|
|                       88163609|
|                       57849472|
|                       09965894|
|                       98374630|
|                       88577153|
|                       58458341|
|                       58142139|
|                       08733056|
|                       48743148|
|                       59666862|
+-------------------------------+
only showing top 20 rows

In [214]:
predictions.groupby("prediction").count().show()

+----------+------+
|prediction| count|
+----------+------+
|       0.0|184490|
|       1.0| 19846|
+----------+------+

### MultilayerPerceptron

In [209]:
from pyspark.ml.classification import MultilayerPerceptronClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [210]:
# specify layers for the neural network:
# input layer of size 5 (features), two intermediate of size 5 and 4
# and output of size 2 (classes)
layers = [5, 5, 4, 2]



# create the trainer and set its parameters
trainer = MultilayerPerceptronClassifier(maxIter=100, layers=layers, blockSize=128, seed=1234)


pipeline = Pipeline(stages=[assembler, trainer])


# train the model
model = pipeline.fit(trainingData_)

In [211]:
# compute accuracy on the test set
result = model.transform(testData)
predictionAndLabels = result.select("prediction", "label")
evaluator = MulticlassClassificationEvaluator(metricName="accuracy")
print("Test set accuracy = " + str(evaluator.evaluate(predictionAndLabels)))

Test set accuracy = 0.7584175084175084

### LinearSVC

In [212]:
from pyspark.ml.classification import LinearSVC

In [219]:
lsvc = LinearSVC(maxIter=10, regParam=0.1)

pipeline = Pipeline(stages=[assembler, LinearSVC])

# Fit the model
lsvcModel = pipeline.fit(trainingData_)

TypeError: Cannot recognize a pipeline stage of type <class 'abc.ABCMeta'>.

In [ ]:
lsvcResult = lsvcModel.transform(testData)

In [ ]:
# Print the coefficients and intercept for linear SVC
print("Coefficients: " + str(lsvcModel.coefficients))
print("Intercept: " + str(lsvcModel.intercept))

AttributeError: 'DataFrame' object has no attribute 'col'