In [2]:
import pandas as pd
import os
import re
from statistics import mean
from collections import Counter

## General Variables

In [2]:
DATA_DIR = 'data/' # directory where any files are saved

In [27]:
def reverse_int(x):
    if "-" in str(x) :
        return int('-'+ str(x)[:0:-1])
    return int(str(x)[::-1])

In [28]:
print(reverse_int(-679))
print(reverse_int(7832))

-976
2387

Q2. Complete the segment of code to save the dataframe generated below to a file named sample_data.csv in the directory given by the DATA_DIR variable defined earlier above. If the directory does not yet exist then it should be created. Substitute or replace any strings as indicated.

First, run the following segment:

In [74]:
cities = ['Tamale', 'Takoradze', 'Accra', 'Achiaman', 'Tema', 'Cape Coast', \
          'Sekondi-Takoradi', 'Obuase', 'Medina Estates', 'Koforidua', 'Japekrom', 'Kumasi']
population = [360579, 232919, 1963264, 202932, 155782, 143015, 138872, 137856, 101207, 96266, 96000, 1468609]
sample_df = pd.concat([pd.Series(cities, name='city'), 
                       pd.Series(population, name='population')], axis=1)
sample_df.sort_values(by=['city'], inplace=True)
sample_df.head(12)

                city  population
2              Accra     1963264
3           Achiaman      202932
5         Cape Coast      143015
10          Japekrom       96000
9          Koforidua       96266
11            Kumasi     1468609
8     Medina Estates      101207
7             Obuase      137856
6   Sekondi-Takoradi      138872
1          Takoradze      232919
0             Tamale      360579
4               Tema      155782

In [78]:
def save_top10_cities(data_in, file_name='top10_cities.csv'):
    data_in['order'] = data_in['population'].rank(numeric_only = False, method = 'max', ascending = False)
    data_in[["order"]] = data_in[["order"]].astype(int)
    
    #selected top 10 of population
    data_in = data_in[data_in['order'] <= 10]
    
    #saved data
    os.makedirs(DATA_DIR , exist_ok = True)
    data_in.to_csv(DATA_DIR + file_name, index = False)
    
    # YOUR CODE GOES HERE

In [79]:
save_top10_cities(sample_df)
print(pd.read_csv(os.path.join(DATA_DIR, 'top10_cities.csv'), index_col='order'))

                   city  population
order
1                 Accra     1963264
5              Achiaman      202932
7            Cape Coast      143015
2                Kumasi     1468609
10       Medina Estates      101207
9                Obuase      137856
8      Sekondi-Takoradi      138872
4             Takoradze      232919
3                Tamale      360579
6                  Tema      155782

In [197]:
def avg_word_len(sentence):
    '''
    Takes a sentence and returns the average word length of all words in the sentence, ignoring punctuations.
    Parameters:
        sentence(str): a given sentence
    Returns:
        None
    '''
    # YOUR CODE GOES HERE
    sentwithoutponc = re.sub(u'[^\w\d\s]+', '', sentence)
    L_sentwithoutponc = sentwithoutponc.split(" ")
    word_len = [len(x) for x in L_sentwithoutponc if len(x)>0]
    return mean(word_len)

In [198]:
sentence1 = "Hi all, my name is James; but many people call me Bond. I am originally from Australia."
sentence2 = "I need to work very hard to learn more about algorithms in Python! I hope that is not strange - for you"
print(avg_word_len(sentence1))
print(avg_word_len(sentence2))

3.9411764705882355
3.8095238095238093

In [ ]:
l = re.sub(u'[^\w\d\s]+', '', sentence1)

In [204]:
l.split(" ")

['Hi',
 'all',
 'my',
 'name',
 'is',
 'James',
 'but',
 'many',
 'people',
 'call',
 'me',
 'Bond',
 'I',
 'am',
 'originally',
 'from',
 'Australia']

In [206]:
sum([len(x) for x in l.split(" ") if len(x)>0])/len([len(x) for x in l.split(" ") if len(x)>0])

3.9411764705882355

In [207]:
l = re.sub(u'[^\w\d\s]+', '', sentence2)

In [208]:
l.split(" ")

['I',
 'need',
 'to',
 'work',
 'very',
 'hard',
 'to',
 'learn',
 'more',
 'about',
 'algorithms',
 'in',
 'Python',
 'I',
 'hope',
 'that',
 'is',
 'not',
 'strange',
 '',
 'for',
 'you']

In [211]:
sum([len(x) for x in l.split(" ") if len(x)> 0])/len([len(x) for x in l.split(" ") if len(x)> 0])

3.8095238095238093

In [195]:
def split_segment(sentence, by_str):
    '''
    Returns the given setence split into its segments.
    Parameter:
        sentence(str): the given setence
        by_str(str): the substring or text segment of the specified sentence
    Returns:
        tuple: the segments of the specified segment
    '''
    # YOUR CODE GOES HERE
    return tuple(sentence.split(by_str, maxsplit=1))

In [196]:
s1 = "If you want to be want a python ninja"
s2 = 'want'
print(split_segment(s1, s2))

('If you ', ' to be want a python ninja')

In [137]:
def all_less_thane(list_in, number_in):
    '''
    Checks if all the elements of an integer list are all less than a specified integer number.
    Parameters:
        list_in(list): list of integers
        number_in(int): specified integer number for comparison
    Returns:
        bool
    '''
    # YOUR CODE GOES HERE
    list_in.sort(key=None, reverse=True)
    return list_in[0] <= number_in

In [138]:
number = 7
list1 = [1, 2, 3, 0, 4, 6, 5]
list2 = [4, 5, 6, 10, 7, 8]
print(all_less_thane(list1, number))
print(all_less_thane(list2, number))

True
False

In [146]:
def first_nonunique_char(segment):
    '''
    Returns the index of the first unique or non-repeating character in the given sentence.
    Parameters:
        segment(str): sentence or text segment
    Returns:
        int: the index of the first unique character in the text segment
    '''
    #YOUR CODE GOES HERE
    return [segment.index(i) for i in segment if segment.count(i) == 1][0]

In [147]:
s1 = 'all alphabet characters'
s2 = 'barbados in the carribean'
s3 = 'Are you joking, I hear you ask'
print(first_nonunique_char(s1))
print(first_nonunique_char(s2))
print(first_nonunique_char(s3))

6
5
0

In [216]:
def order_by_key(dict_in, ascending=True):
    '''
    Returns a dictionary with elements sorted by the specified dictionary's key values.
    Parameters:
        dict_in(dictionary): a specified dictionary
        ascending(bool): indicates whether to order in ascending or descending order
    Returns:
        dictionary
    '''
    # YOUR CODE GOES HERE
    return dict(sorted(dict_in.items(), reverse = not ascending))

In [217]:
elements = {'hydrogen': 1, 'helium': 2, 'carbon': 6, 'oxygen': 8, 'methane': 10, 'nitrogen': 3}
print(order_by_key(elements))
print(order_by_key(elements, ascending = False))

{'carbon': 6, 'helium': 2, 'hydrogen': 1, 'methane': 10, 'nitrogen': 3, 'oxygen': 8}
{'oxygen': 8, 'nitrogen': 3, 'methane': 10, 'hydrogen': 1, 'helium': 2, 'carbon': 6}

In [ ]:
sorted()

In [150]:
def convert_numbers(list_in):
    '''
    Converts the specified list of strings into a list of real numbers.
    Parameters:
        list_in(str): a list of real numbers as strings
    Returns:
        list: a list of real numbers
    '''
    # YOUR CODE GOES HERE
    return [eval(i) for i in list_in]

In [151]:
convert_numbers(strs)

[1, 3, 9, 18.5]

In [182]:
def counter_from_list(list_in):
    '''
    Returns a dictionary containing the counts of the corresponding list items.
    Parameters:
        list_in(list): a list of items
    Returns:
        dictionary
    '''
    # YOUR CODE GOES HERE
    return dict(Counter(list_in))

In [183]:
cities = ['Accra', 'Madrid','Rome','Accra', 'Accra', 'Kumasi', 'Munich','Abidjan','Madrid','Kumasi', \
          'Madrid','Madrid','Abidjan', 'Barcelona', 'Accra', 'Abidjan', 'Barcelona']
print(counter_from_list(cities))

{'Accra': 4, 'Madrid': 4, 'Rome': 1, 'Kumasi': 2, 'Munich': 1, 'Abidjan': 3, 'Barcelona': 2}

In [188]:
def check_all_float(list_in):
    '''
    Checks if all the elements of the specified list are float.
    Parameters:
        list_in(list): any specified list
    Returns:
        bool
    '''
    # YOUR CODE GOES HERE
    return all(isinstance(x, float) for x in list_in)

In [189]:
list1 = [1.9, 5.9, 9.9, 8.8]
list2 = [1.9, 9.8, 9.9, 8]
list3 = [1.9, 7.8, 9.9, '8.9']
print(check_all_float(list1))
print(check_all_float(list2))
print(check_all_float(list3))

True
False
False

In [192]:
def dic_from_lists(list_keys, *list_data):
    '''
    Returns a dictionary created from the specified lists.
    Parameters:
        list_keys(list): a list of key values to be associated with the data from a set of lists
        list_data(tuple): a set of lists, each of whose values are associated with their corresponding keys
    Returns:
        dictionary
    '''
    # YOUR CODE GOES HERE
    return dict((z[0], list(z[1:])) for z in zip(list_keys, *list_data ))

In [193]:
students = ['Maria','Paola','Julia']
exam1 = [9.8, 7.8, 9.5]
exam2 = [7.5, 9, 9.1]
exam3 = [7.8, 7.8, 8.7]
exam4 = [10.0, 8.8, 9.7]
print(dic_from_lists(students, exam1, exam2, exam3, exam4))

{'Maria': [9.8, 7.5, 7.8, 10.0], 'Paola': [7.8, 9, 7.8, 8.8], 'Julia': [9.5, 9.1, 8.7, 9.7]}

In [184]:
list3 = [1.9, 7.8, 9.9, '8.9']

In [185]:
all(isinstance(x, float ) for x in list3)

False

In [175]:
a = True

In [176]:
d = {2:3, 1:89, 4:5, 3:0}
dict(sorted(d.items(), reverse= not a))

{1: 89, 2: 3, 3: 0, 4: 5}

In [119]:
L_out = out.split(" ", maxsplit=1)
L_out

['string', 'With Punctuation ']

In [160]:
strs = [1, 3]

In [171]:
order(strs)

NameError: name 'order' is not defined

In [169]:
strs

[1, 3]

In [165]:
bool(False + 0)

False

In [102]:
word_len = [len(x) for x in L_out if len(x)>0]

In [104]:
sum(word_len)/len(word_len)

7.0

In [107]:
from statistics import mean
mean(word_len)

7

In [ ]:
s.index("r")

In [139]:
p = "string. With. Punctuation? "

In [142]:
l = [p.index(i) for i in p if p.count(i) == 1][0]
p.index(l[0])

0

In [143]:
[p.index(i) for i in p if p.count(i) == 1][0]

0

In [177]:
cities = ['Accra', 'Madrid','Rome','Accra', 'Accra', 'Kumasi', 'Munich','Abidjan','Madrid','Kumasi', \
          'Madrid','Madrid','Abidjan', 'Barcelona', 'Accra', 'Abidjan', 'Barcelona']

{'Accra': 4,
 'Madrid': 4,
 'Rome': 1,
 'Kumasi': 2,
 'Munich': 1,
 'Abidjan': 3,
 'Barcelona': 2}

In [190]:
students = ['Maria','Paola','Julia']
exam1 = [9.8, 7.8, 9.5]
exam2 = [7.5, 9, 9.1]
exam3 = [7.8, 7.8, 8.7]
exam4 = [10.0, 8.8, 9.7]

In [191]:

dict((z[0], list(z[1:])) for z in zip(students, exam1, exam2, exam3, exam4 ))

{'Maria': [9.8, 7.5, 7.8, 10.0],
 'Paola': [7.8, 9, 7.8, 8.8],
 'Julia': [9.5, 9.1, 8.7, 9.7]}

In [ ]:
{z[0]: list(z[1:]) for z in zip(*list_of_lists)}

In [221]:
list1 = [1.9, 5.9, 9.9, 8.8]
list2 = [1.9, 9.8, 9.9, 8]
list3 = [1.9, 7.8, 9.9, '8.9']

In [235]:
all(isinstance(y,float) for y in list3)

False

In [8]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df = pd.read_csv("/Users/youssouf/Downloads/msisdn_v2.csv")
df.dtypes

msisdn    int64
dtype: object

In [14]:
df[["msisdn"]] = df[["msisdn"]].astype(object)

In [15]:
filter_col = [col for col in df if col.startswith(str(7))]

In [18]:
df[filter_col].shape

(179, 0)

In [13]:
df.shape

(179, 1)