In [20]:
import pandas as pd
import numpy as np

In [21]:
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
df = pd.read_csv(url)
df.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [22]:
np.unique(df["Region"])

array(['AFRICA', 'ASIA', 'EUROPE', 'NORTH AMERICA', 'OCEANIA',
       'SOUTH AMERICA'], dtype=object)

In [23]:
def index_region(x) :
    if x == "AFRICA" :
        return 0
    elif x == "EUROPE" :
        return 1
    elif x == "NORTH AMERICA" :
        return 2
    else :
        return "other"

In [24]:
df["index_region_col"] = df.apply(lambda x: index_region(x["Region"]) ,  axis = 1)
df.head()

    Country  Region index_region_col
0   Algeria  AFRICA                0
1    Angola  AFRICA                0
2     Benin  AFRICA                0
3  Botswana  AFRICA                0
4   Burkina  AFRICA                0

In [25]:
from spylon_kernel import get_scala_interpreter

interp = get_scala_interpreter()

# Evaluate the result of a scala code block.
interp.interpret("""
    val x = 8
    x
""")

interp.last_result()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/22 14:01:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/05/22 14:01:49 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/22 14:01:49 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/05/22 14:01:49 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

8

In [28]:
from spylon_kernel import register_ipython_magics
register_ipython_magics()

In [30]:
%%scala

val t = "je vais a la maison"

Intitializing Scala interpreter ...

Spark Web UI available at http://jekas-poller.dev01.smile.lan:4043
SparkContext available as 'sc' (version = 3.2.1, master = local[*], app id = local-1653253310236)
SparkSession available as 'spark'

In [31]:
%%python 

t = "je vais a la maison"

Couldn't find program: 'python'